<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2GIS.NuClear.Assembling" version="1.0.4" targetFramework="net451" />
  <package id="2GIS.NuClear.Metamodeling" version="1.1.1" targetFramework="net451" />
  <package id="2GIS.NuClear.Metamodeling.Basics" version="1.1.1" targetFramework="net451" />
  <package id="2GIS.NuClear.Model.Common" version="1.1.0" targetFramework="net451" />
  <package id="FluentValidation-Signed" version="3.4.6.0" targetFramework="net45" />
</packages>