<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- common properties -->
  <?define Manufacturer = "2GIS" ?>
  <?define ManufacturerProjectName = "$(var.Manufacturer) ERM" ?>
  <?define PackageDescription = "Сервис выполнения задач по расписанию системы ERM" ?>

  <?ifdef VariablesIncludeFileName ?>
    <?include $(var.VariablesIncludeFileName) ?>
  <?else ?>
    <?define ProductVersion = "0.0.0" ?>
    <?define EnvironmentName = "Dev" ?>
    <?define UpgradeCode = "91F6EBD1-8ADA-4FFF-BB5E-D506C35D04DC" ?>
    <?define ServiceStartType = "auto" ?>
    <?define ServiceName = "$(var.EnvironmentName)_$(var.ProductVersion)" ?>
  <?endif ?>

  <!-- calculated properties -->
  <?define ProductLongNameWithVersion = "$(var.ManufacturerProjectName) Task Service ($(var.EnvironmentName)) ($(var.ProductVersion))" ?>

  <!-- detect platform -->
  <?if $(var.Platform) = x64 ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif ?>

  <Product
		Id="*"
		Manufacturer="$(var.Manufacturer)"
		Language="1049"
    Codepage="1251"
		Name="$(var.ProductLongNameWithVersion)"
		Version="$(var.ProductVersion)"
		UpgradeCode="$(var.UpgradeCode)">

    <Package
			SummaryCodepage="1251"
			InstallPrivileges="elevated"
			InstallScope="perMachine"
			InstallerVersion="500"
			Compressed="yes"
      
      Description="$(var.PackageDescription)"
		/>

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" CompressionLevel="high" />

    <!-- directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductLongNameWithVersion)" />
      </Directory>
    </Directory>

    <!-- third party components -->
    <ComponentGroup Id="ThirdParty" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="NugetThirdParty" />
      <ComponentGroupRef Id="BinaryThirdParty" />
    </ComponentGroup>

    <ComponentGroup Id="NugetThirdParty" Directory="INSTALLFOLDER">
      <?define PackagesDir = "$(var.ProjectDir)..\packages" ?>
      <Component>
        <File Source="$(var.PackagesDir)\SevenZipSharp.0.64\lib\SevenZipSharp.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\CommonServiceLocator.1.0\lib\NET35\Microsoft.Practices.ServiceLocation.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\Quartz.2.2.3\lib\net40\Quartz.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\Common.Logging.2.2.0\lib\net40\Common.Logging.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\Common.Logging.Core.2.2.0\lib\net40\Common.Logging.Core.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\Common.Logging.Log4Net1211.2.2.0\lib\net40\Common.Logging.Log4Net1211.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\log4net.2.0.3\lib\net40-full\log4net.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\DocumentFormat.OpenXml.2.5\lib\DocumentFormat.OpenXml.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\Unity.2.1.505.2\lib\NET35\Microsoft.Practices.Unity.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\Unity.2.1.505.2\lib\NET35\Microsoft.Practices.Unity.Configuration.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\Unity.Interception.2.1.505.2\lib\NET35\Microsoft.Practices.Unity.Interception.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\Unity.Interception.2.1.505.2\lib\NET35\Microsoft.Practices.Unity.Interception.Configuration.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\RabbitMQ.Client.3.2.1\lib\net30\RabbitMQ.Client.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\NEST.1.0.1\lib\Nest.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\Elasticsearch.Net.1.0.1\lib\Elasticsearch.Net.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\Elasticsearch.Net.Connection.Thrift.1.0.1\lib\Elasticsearch.Net.Connection.Thrift.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\Newtonsoft.Json.6.0.4\lib\net45\Newtonsoft.Json.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\EntityFramework.6.1.0\lib\net45\EntityFramework.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\EntityFramework.6.1.0\lib\net45\EntityFramework.SqlServer.dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="BinaryThirdParty" Directory="INSTALLFOLDER">
      <?define LibsDir = "$(var.ProjectDir)..\Libs" ?>
      <Component>
        <File Source="$(var.LibsDir)\Microsoft Dynamics CRM SDK 4.0.13\Microsoft.Xrm.Client.dll" />
      </Component>
      <Component>
        <File Source="$(var.LibsDir)\Microsoft Dynamics CRM SDK 4.0.13\Microsoft.Crm.Sdk.dll" />
      </Component>
      <Component>
        <File Source="$(var.LibsDir)\Microsoft Dynamics CRM SDK 4.0.13\Microsoft.Crm.SdkTypeProxy.dll" />
      </Component>
      <Component>
        <File Source="$(var.LibsDir)\Microsoft Dynamics CRM SDK 4.0.13\Microsoft.Crm.SdkTypeProxy.XmlSerializers.dll" />
      </Component>
      <Component>
        <File Source="$(var.LibsDir)\AppFabric 1.1 for Windows Server\Microsoft.ApplicationServer.Caching.Client.dll" />
      </Component>
      <Component>
        <File Source="$(var.LibsDir)\AppFabric 1.1 for Windows Server\Microsoft.ApplicationServer.Caching.Core.dll" />
      </Component>
      <Component>
        <File Source="$(var.LibsDir)\AppFabric 1.1 for Windows Server\Microsoft.WindowsFabric.Common.dll" />
      </Component>
      <Component>
        <File Source="$(var.LibsDir)\AppFabric 1.1 for Windows Server\Microsoft.WindowsFabric.Data.Common.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\EnterpriseLibrary.TransientFaultHandling.6.0.1304.0\lib\portable-net45+win+wp8\Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.dll" />
      </Component>
      <Component>
        <File Source="$(var.PackagesDir)\\EnterpriseLibrary.TransientFaultHandling.Caching.6.0.1304.0\lib\NET45\Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Caching.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="TaskService" Directory="INSTALLFOLDER">

    <!-- NT service -->
      <Component>

        <File Source="$(var.2Gis.Erm.TaskService.TargetDir)2Gis.Erm.TaskService.exe" />
        <File Source="$(var.2Gis.Erm.TaskService.TargetDir)2Gis.Erm.TaskService.pdb" />

        <!-- Config files -->
        <File Source="$(var.2Gis.Erm.TaskService.TargetDir)2Gis.Erm.TaskService.exe.config" />
        <File Source="$(var.2Gis.Erm.TaskService.TargetDir)log4net.config" />

      <ServiceInstall
				Id="Service1"
				Type="ownProcess"
				Account="NT AUTHORITY\NetworkService"
				Vital="yes"
				Start="$(var.ServiceStartType)"
				ErrorControl="ignore"
				Interactive="no"
        
				Name="$(var.ServiceName)"
				DisplayName="$(var.ProductLongNameWithVersion)"
        Description="$(var.PackageDescription)"
			/>

      <ServiceControl
				Id="Service1"
        Name="$(var.ServiceName)"
        
				Stop="both"
				Remove="uninstall"
				Wait="yes"
			/>

      </Component>

      <ComponentGroupRef Id="QuartzConfigs" />
      
    </ComponentGroup>

    <ComponentGroup Id="QuartzConfigs" Directory="INSTALLFOLDER">
     
      <?ifdef QuartzIncludeFileName ?>
        <?include $(var.QuartzIncludeFileName) ?>
      <?else ?>
        <Component>
          <File Name="quartz.config" Source="$(var.2Gis.Erm.TaskService.ProjectDir)quartz.config" />
        </Component>
      <?endif ?>

    </ComponentGroup>

    <Feature Id="ProductFeature" Title="$(var.ProductLongNameWithVersion)" Level="1">

      <ComponentGroupRef Id="TaskService" />
      <ComponentGroupRef Id="ThirdParty" />

      <!-- pull in generated authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
      
    </Feature>

    <!-- newer versions overwrites older versions -->
    <MajorUpgrade
      AllowDowngrades="yes"
			Schedule="afterInstallInitialize"
		/>

    <!-- icon -->
    <Property Id="ARPPRODUCTICON" Value="Icon" />
    <Icon Id="Icon" SourceFile="$(var.2Gis.Erm.TaskService.ProjectDir)\icon.ico" />

  </Product>
</Wix>
