<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ermServicesSettings" type="DoubleGis.Erm.Platform.API.Core.Settings.APIServices.Config.Xml.ErmServiceDescriptionsConfigurationSection, 2Gis.Erm.Platform.API.Core" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="CachingMode" value="InProc" />
    
    <add key="EnableNotifications" value="false" />

    <add key="MsCrmIntegrationMode" value="Disabled" />
    
    <add key="CreationOrderRequestsEnabled" value="false" />

    <add key="EnableIntegration" value="true" />
    <add key="IntegrationApplicationName" value="ERM.InProcTests" />
    <add key="EnableRabbitMqQueue" value="true" />
    <add key="UseWarehouseIntegration" value="false" />

    <add key="WarmClientDaysCount" value="14" />
    <add key="SignificantDigitsNumber" value="2" />
    <add key="MinDebtAmount" value="-100" />
    <add key="OrderRequestProcessingHoursAmount" value="2" />

    <!-- возможные значения: DB, Queue, DB;Queue -->
    <add key="OperationLoggingTargets" value="DB" />

    <add key="BasicLanguage" value="ru" />
    <add key="ReserveLanguage" value="en" />
    <add key="BusinessModel" value="Russia" />
    <add key="RegionalTerritoryLocaleSpecificWord" value="Региональная территория" />

    <add key="EnableIntegration" value="false" />
    <add key="IntegrationApplicationName" value="ERM.RU" />
    <add key="EnableRabbitMqQueue" value="false" />
    <add key="UseWarehouseIntegration" value="false" />

    <add key="TargetEnvironment" value="Development" />
    <!-- возможные значения: Development, Test, Production -->
    <add key="EntryPointName" value="Tests.API.Operations.InProc" />
    <add key="TargetEnvironmentName" value="Dev" />

    <add key="IdentityServiceUrl" value="http://identity.api.test.erm.2gis.ru"/>
  </appSettings>

  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Erm;Integrated Security=True" />
    <add name="ErmReports" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ErmReports;Integrated Security=True" />
    <add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ErmLogging;Integrated Security=True;Enlist=False" />
    <add name="CrmConnection" connectionString="" />

    <add name="ErmPerformedOperationsServiceBus" connectionString="Endpoint=sb://localhost/PerformedOperations;StsEndpoint=https://localhost:9355/PerformedOperations;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=CeDMmQz8t7l611tXTxUM/C3mrkJxGF/1gVgIvRKiJ6w=" />
  </connectionStrings>

  <ermServicesSettings>
    <ermServices>
      <ermService name="OrderValidationService" restUrl="https://localhost:44301/Validate.svc/Rest" baseUrl="https://localhost:44301" />
      <ermService name="IdentityService" restUrl="https://localhost:44303/Identity.svc/Rest" baseUrl="https://localhost:44303" />
      <ermService name="MoDiService" restUrl="https://localhost:44304" baseUrl="https://localhost:44304" />
    </ermServices>
  </ermServicesSettings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
