<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- replace application settings -->
  <appSettings>
    <add key="CachingMode" value="InProc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MsCrmIntegrationMode" value="Disabled" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableIntegration" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IntegrationApplicationName" value="ERM.CY" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableNotifications" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironment" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="BasicLanguage" value="en" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RegionalTerritoryLocaleSpecificWord" value="Regional territory" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessModel" value="Cyprus" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="MaxWorkingThreads" value="5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironmentName" value="Production.Cyprus" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <!-- replace connection strings -->
  <system.serviceModel>
    <client>
      <endpoint name="NetTcpBinding_IBrokerApiSender" address="net.tcp://uk-busdgpp01.2gis.local:8091/BrokerApiService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity>
          <userPrincipalName value="Uk.Bus.Service@2gis.local" xdt:Transform="SetAttributes" />
        </identity>
      </endpoint>
      <endpoint name="NetTcpBinding_IBrokerApiReceiver" address="net.tcp://uk-busdgpp01.2gis.local:8091/BrokerApiService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity>
          <userPrincipalName value="Uk.Bus.Service@2gis.local" xdt:Transform="SetAttributes" />
        </identity>
      </endpoint>
      <endpoint name="BasicHttpEndpoint_GeoMasterApi" address="http://uk-map-gm01.2gis.local/GeoMasterApi/Map2Gis.Service.MasterSystemApi.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></endpoint>
    </client>
  </system.serviceModel>
</configuration>