<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- replace application settings -->
  <appSettings>
    <add key="CachingMode" value="InProc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MsCrmIntegrationMode" value="Full" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableIntegration" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IntegrationApplicationName" value="ERM01" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableNotifications" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="BasicLanguage" value="ru" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RegionalTerritoryLocaleSpecificWord" value="Региональная территория" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessModel" value="Russia" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="MaxWorkingThreads" value="5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironmentName" value="Test.01" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <!-- replace connection strings -->
  <system.serviceModel>
    <client></client>
  </system.serviceModel>
</configuration>