<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2GIS.NuClear.Metamodeling" version="1.5.2" targetFramework="net451" />
  <package id="2GIS.NuClear.Metamodeling.Basics" version="1.5.2" targetFramework="net451" />
  <package id="2GIS.NuClear.Model.Common" version="1.1.1" targetFramework="net451" />
  <package id="2GIS.NuClear.ResourceUtilities" version="1.0.0" targetFramework="net451" />
  <package id="2GIS.NuClear.ResourceUtilities.Legacy" version="1.0.0" targetFramework="net451" />
  <package id="2GIS.NuClear.Settings.API" version="1.1.0" targetFramework="net451" />
  <package id="nJupiter.Configuration" version="4.0.4.516" targetFramework="net451" />
</packages>