
@model PositionChildrenViewModel

@{
    Layout = "../Shared/_CardLayout.cshtml";
}

@section CardScripts
{
}

@section CardBody
{
    <div class="Tab" id="MainTab" title="@BLResources.GeneralTabTitle">
        @if (Model != null)
        {
            @Html.HiddenFor(m => m.Id)
        }
        <div class="row-wrapper">
            @Html.TemplateField(m => m.MasterPosition, FieldFlex.lone, new LookupSettings { EntityName = EntityType.Instance.Position(), ReadOnly = true })
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.ChildPosition, FieldFlex.lone, new LookupSettings { EntityName = EntityType.Instance.Position(), ExtendedInfo = "composite=false" })
        </div>
    </div>
}