<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TargetEnvironment" value="Development" />
    <add key="EntryPointName" value="Qds.Migrator" />
    <!-- возможные значения: Development, Test, Production -->
    <add key="TargetEnvironmentName" value="Dev" />
    <add key="MsCrmIntegrationMode" value="Disabled" />
    
    <add key="MinDebtAmount" value="-100" />
  </appSettings>
  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Erm;Integrated Security=True" />
    <add name="ErmSearch" connectionString="Endpoint=localhost;IndexPrefix=dev;BatchSize=10000" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
