@model DoubleGis.Erm.BL.UI.Web.Mvc.Models.AdvertisementElementModels.PeriodViewModel

<div class="row-wrapper">
    @Html.TemplateField(m => m.BeginDate, FieldFlex.twins, new DateTimeSettings { ShiftOffset = false })
    @Html.TemplateField(m => m.EndDate, FieldFlex.twins, new DateTimeSettings { ShiftOffset = false })
</div>

