<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- replace application settings -->
  <appSettings>
    <add key="EnableNotifications" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableCaching" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableReplication" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="IdentityServiceUniqueId" value="8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="TargetEnvironment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <!-- replace connection strings -->
  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=UK-SQL01;Initial Catalog=Erm21;Integrated Security=True;Application Name=ErmMetadataSvc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=UK-SQL01;Initial Catalog=ErmLogging21;Integrated Security=True;Application Name=ErmLoggingMetadataSvc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <!-- enable asp.net custom errors -->
    <customErrors mode="On"  xdt:Transform="SetAttributes" />
  </system.web>

  <system.webServer>
    <!-- disable directory browsing -->
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes" />

    <httpProtocol>
      <customHeaders >
        <add name="Access-Control-Allow-Origin" value="https://web-app21.test.erm.russia" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <system.serviceModel/>

</configuration>