<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- replace application settings -->
  <appSettings>
    <add key="EnableNotifications" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableCaching" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableReplication" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IdentityServiceUniqueId" value="8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironmentName" value="Test.20" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <!-- replace connection strings -->
  <system.web>
    <!-- enable asp.net custom errors -->
    <customErrors mode="On" xdt:Transform="SetAttributes" />
  </system.web>
  <system.webServer>
    <!-- disable directory browsing -->
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="https://web-app20.test.erm.russia" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel />
  <ermServicesSettings>
    <ermServices>
      <ermService name="FinancialOperationsService" restUrl="https://financial-operations20.api.test.erm.russia" baseUrl="https://financial-operations20.api.test.erm.russia" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="RealeasingService" restUrl="https://releasing20.api.test.erm.russia" baseUrl="https://releasing20.api.test.erm.russia" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </ermServices>
  </ermServicesSettings>
</configuration>