<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Erm;Integrated Security=True"/>
    <add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ErmLogging;Integrated Security=True;Enlist=False"/>
    <add name="ErmConfiguration" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ErmConfiguration;Integrated Security=True;Enlist=False"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <specFlow>
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>
