DECLARE @OperationEntitiesMap table(
                 Descriptor int NOT NULL,
				 OperationEntities nvarchar(1024));

DECLARE @UsedOperationEntitiesMap table(
        Descriptor int NOT NULL,
		OperationEntities nvarchar(1024));



INSERT INTO @UsedOperationEntitiesMap
SELECT UsedDescriptors.Descriptor, AllOperationEntitiesMap.OperationEntities
FROM (SELECT Descriptor
FROM [Shared].[PerformedBusinessOperations] with (nolock) 
Group BY Descriptor) AS UsedDescriptors
LEFT OUTER JOIN @OperationEntitiesMap AS AllOperationEntitiesMap
    ON UsedDescriptors.Descriptor = AllOperationEntitiesMap.Descriptor
WHERE UsedDescriptors.Descriptor <> 0

IF EXISTS (SELECT * FROM @UsedOperationEntitiesMap uoem WHERE uoem.OperationEntities is null)
BEGIN
RAISERROR (N'Detected not supported descriptor values in performed business operations', 10 ,1);
END

SELECT * FROM @UsedOperationEntitiesMap

UPDATE pbo 
SET pbo.OperationEntities = uoem.OperationEntities
FROM [Shared].[PerformedBusinessOperations] pbo 
INNER JOIN @UsedOperationEntitiesMap uoem
	ON pbo.Descriptor = uoem.Descriptor