<?xml version="1.0" encoding="utf-8"?>
<orderValidationSettings>
	<associatedDeniedPositions>

		<!--
			Значения для bindingType:
			- NoDependency (Не зависит от объекта привязки)
			- Match (Объекты привязки совпадают)
			- Different (Объекты привязки отличаются)
		-->

		<!-- Микрокомментарий, информация от владельца, объявление, рекламная ссылка (Интернет-площадка maps.2gis.ru) -->
		<position id="3488">
			<masterPositions>
				<!-- Микрокомментарий, информация от владельца, объявление, рекламная ссылка (Интернет-площадки и Веб-приложения) -->
				<position id="3489" bindingType="NoDependency"/>
			</masterPositions>
		</position>

		<!-- Микрокомментарий, информация от владельца, объявление, рекламная ссылка (Интернет-площадки и Веб-приложения) -->
		<position id="3489">
			<masterPositions>
				<!-- Микрокомментарий, информация от владельца, объявление, рекламная ссылка (мобильная версия) -->
				<position id="3487" bindingType="NoDependency"/>
			</masterPositions>
		</position>


		<!-- Микрокомментарий, информация от владельца, объявление, рекламная ссылка (Интернет-площадка 2gis.ru)_VIP -->
		<position id="223528633919375111">
			<masterPositions>
				<!-- Микрокомментарий, информация от владельца, объявление, рекламная ссылка (мобильная версия) -->
				<position id="3487" bindingType="NoDependency"/>
			</masterPositions>
		</position>

		<!-- Баннер в рубрике (пакет "Всё включено") -->
		<position id="3415">
			<deniedPositions>
				<!-- Подключение двойного баннера к рубрике -->
				<position id="5" bindingType="NoDependency"/>

				<!-- Подключение тройного баннера к рубрике -->
				<position id="6" bindingType="NoDependency"/>

				<!-- Подключение одинарного баннера к рубрике -->
				<position id="4" bindingType="Match"/>

				<!-- Баннер в рубрике -->
				<position id="1" bindingType="NoDependency"/>

				<!-- Двойной баннер в рубрике -->
				<position id="2" bindingType="NoDependency"/>

				<!-- Тройной баннер в рубрике -->
				<position id="3" bindingType="NoDependency"/>

				<!-- Двойной баннер (пакет "Всё включено") -->
				<position id="3419" bindingType="NoDependency"/>
				
				<!-- Баннер в рубрике (пакет "Всё включено") -->
				<position id="3415" bindingType="Match"/>
			</deniedPositions>
		</position>

		<!-- Двойной баннер (пакет "Всё включено") -->
		<position id="3419">
			<deniedPositions>
				<!-- Подключение двойного баннера к рубрике -->
				<position id="5" bindingType="Match"/>

				<!-- Подключение тройного баннера к рубрике -->
				<position id="6" bindingType="NoDependency"/>

				<!-- Подключение одинарного баннера к рубрике -->
				<position id="4" bindingType="Match"/>

				<!-- Баннер в рубрике -->
				<position id="1" bindingType="NoDependency"/>

				<!-- Двойной баннер в рубрике -->
				<position id="2" bindingType="NoDependency"/>

				<!-- Тройной баннер в рубрике -->
				<position id="3" bindingType="NoDependency"/>

				<!-- Двойной баннер (пакет "Всё включено") -->
				<position id="3419" bindingType="NoDependency"/>
				
				<!-- Баннер в рубрике (пакет "Всё включено") -->
				<position id="3415" bindingType="NoDependency"/>
			</deniedPositions>
		</position>

		<!-- Логотип на карте во всех масштабах в одной рубрике (Пакет «Дополнительный») -->
		<position id="3479">
			<masterPositions>
				<!-- Микрокомментарий в рубрике (пакет "Всё включено") -->
				<position id="3436" bindingType="NoDependency"/>

				<!-- Баннер в рубрике (пакет "Всё включено") -->
				<position id="3415" bindingType="NoDependency"/>

				<!-- Двойной баннер (пакет "Всё включено") -->
				<position id="3419" bindingType="NoDependency"/>
			</masterPositions>

			<deniedPositions>
				<!-- Логотип на карте во всех масштабах в одной рубрике -->
				<position id="59" bindingType="Match"/>

				<!-- Логотип на карте в детальных масштабах во всех рубриках 0 рублей_архив -->
				<position id="1309" bindingType="Match"/>

				<!-- Логотип на карте в детальных масштабах в одной рубрике 0 рублей_архив -->
				<position id="1308" bindingType="Match"/>

				<!-- Логотип на карте во всех масштабах в одной рубрике 0 рублей_архив -->
				<position id="1293" bindingType="Match"/>

				<!-- Логотип на карте во всех масштабах в рубрике 1-го уровня -->
				<position id="60" bindingType="Match"/>

				<!-- Логотип на карте в детальных масштабах в одной рубрике -->
				<position id="58" bindingType="Match"/>

				<!-- Логотип на карте в детальных масштабах во всех рубриках -->
				<position id="57" bindingType="Match"/>

				<!-- Логотип на карте во всех масштабах в одной рубрике (Пакет "Дополнительный") -->
				<position id="3428" bindingType="NoDependency"/>

				<!-- Логотип на карте во всех масштабах в одной рубрике (Пакет «Дополнительный») -->
				<position id="3479" bindingType="NoDependency"/>
			</deniedPositions>
		</position>

		<!-- Макет для двойного баннера (Пакет «Дополнительный») -->
		<position id="3480">
			<deniedPositions>
				<!-- Макет для двойного баннера (Пакет «Дополнительный») -->
				<position id="3480" bindingType="NoDependency"/>

				<!-- Макет для двойного баннера (Пакет "Дополнительный") -->
				<position id="3424" bindingType="NoDependency"/>
			</deniedPositions>
		</position>

		<!-- Макет для одинарного баннера (Пакет «Дополнительный») -->
		<position id="3481">
			<deniedPositions>
				<!-- Макет для одинарного баннера (Пакет «Дополнительный») -->
				<position id="3481" bindingType="NoDependency"/>

				<!-- Макет для одинарного баннера (Пакет "Дополнительный") -->
				<position id="3423" bindingType="NoDependency"/>
			</deniedPositions>
		</position>

		<!-- Подключение двойного баннера к рубрике (Пакет «Дополнительный») -->
		<position id="3482">
			<masterPositions>
				<!-- Двойной баннер (пакет "Всё включено") -->
				<position id="3419" bindingType="NoDependency"/>

				<!-- Пакет «Всё включено+» -->
				<position id="3469" bindingType="NoDependency"/>
			</masterPositions>

			<deniedPositions>
				<!-- Подключение двойного баннера к рубрике -->
				<position id="5" bindingType="Match"/>

				<!-- Подключение одинарного баннера к рубрике (Пакет "Дополнительный") -->
				<position id="3421" bindingType="NoDependency"/>

				<!-- Двойной баннер (пакет "Всё включено") -->
				<position id="3419" bindingType="Match"/>

				<!-- Баннер в рубрике (пакет "Всё включено") -->
				<position id="3415" bindingType="NoDependency"/>

				<!-- Баннер в рубрике -->
				<position id="1" bindingType="NoDependency"/>

				<!-- Двойной баннер в рубрике -->
				<position id="2" bindingType="NoDependency"/>

				<!-- Тройной баннер в рубрике -->
				<position id="3" bindingType="NoDependency"/>

				<!-- Подключение одинарного баннера к рубрике -->
				<position id="4" bindingType="Match"/>

				<!-- Подключение тройного баннера к рубрике -->
				<position id="6" bindingType="NoDependency"/>

				<!-- Баннер в справочнике 270*32 пикселей_архив -->
				<position id="1200" bindingType="NoDependency"/>

				<!-- Баннер в справочнике 270*64 пикселей_архив -->
				<position id="1201" bindingType="NoDependency"/>

				<!-- Подключение двойного баннера к рубрике (Пакет "Дополнительный") -->
				<position id="3422" bindingType="NoDependency"/>

				<!-- Подключение двойного баннера к рубрике (Пакет «Дополнительный») -->
				<position id="3482" bindingType="NoDependency"/>

				<!-- Подключение одинарного баннера к рубрике (Пакет «Дополнительный») -->
				<position id="3484" bindingType="Match"/>
			</deniedPositions>
		</position>

		<!-- Подключение одинарного баннера к рубрике (Пакет «Дополнительный») -->
		<position id="3484">
			<masterPositions>
				<!-- Баннер в рубрике (пакет "Всё включено") -->
				<position id="3415" bindingType="NoDependency"/>

				<!-- Пакет «Всё включено» -->
				<position id="3468" bindingType="NoDependency"/>

				<!-- Двойной баннер (пакет "Всё включено") -->
				<position id="3419" bindingType="NoDependency"/>

				<!-- Пакет «Всё включено+» -->
				<position id="3469" bindingType="NoDependency"/>
			</masterPositions>

			<deniedPositions>
				<!-- Подключение двойного баннера к рубрике (Пакет "Дополнительный") -->
				<position id="3422" bindingType="Match"/>

				<!-- Подключение одинарного баннера к рубрике -->
				<position id="4" bindingType="Match"/>

				<!-- Двойной баннер (пакет "Всё включено") -->
				<position id="3419" bindingType="Match"/>

				<!-- Баннер в рубрике (пакет "Всё включено") -->
				<position id="3415" bindingType="Match"/>

				<!-- Баннер в рубрике -->
				<position id="1" bindingType="NoDependency"/>

				<!-- Двойной баннер в рубрике -->
				<position id="2" bindingType="NoDependency"/>

				<!-- Тройной баннер в рубрике -->
				<position id="3" bindingType="NoDependency"/>

				<!-- Подключение двойного баннера к рубрике -->
				<position id="5" bindingType="Match"/>

				<!-- Подключение тройного баннера к рубрике -->
				<position id="6" bindingType="NoDependency"/>

				<!-- Баннер в справочнике 270*32 пикселей_архив -->
				<position id="1200" bindingType="NoDependency"/>

				<!-- Баннер в справочнике 270*64 пикселей_архив -->
				<position id="1201" bindingType="NoDependency"/>

				<!-- Подключение одинарного баннера к рубрике (Пакет "Дополнительный") -->
				<position id="3421" bindingType="NoDependency"/>

				<!-- Подключение одинарного баннера к рубрике (Пакет «Дополнительный») -->
				<position id="3484" bindingType="NoDependency"/>

				<!-- Подключение двойного баннера к рубрике (Пакет «Дополнительный») -->
				<position id="3482" bindingType="Match"/>
			</deniedPositions>
		</position>

		<!-- Рекламная статья (пакет «Дополнительный») -->
		<position id="3485">
			<deniedPositions>
				<!-- Рекламная статья (до 120 Кб) -->
				<position id="17" bindingType="NoDependency"/>

				<!-- Рекламная статья (до 30 Кб) -->
				<position id="14" bindingType="NoDependency"/>

				<!-- Рекламная статья (до 60 Кб) -->
				<position id="15" bindingType="NoDependency"/>

				<!-- Рекламная статья (до 90 Кб) -->
				<position id="16" bindingType="NoDependency"/>

				<!-- Рекламная статья (до 150 Кб) -->
				<position id="18" bindingType="NoDependency"/>

				<!-- Рекламная статья - самореклама -->
				<position id="19" bindingType="NoDependency"/>

				<!-- Рекламная статья - 0 рублей -->
				<position id="20" bindingType="NoDependency"/>

				<!-- Рекламная статья (до 80 кб)_архив -->
				<position id="1197" bindingType="NoDependency"/>

				<!-- Рекламная статья (пакет "Дополнительный") -->
				<position id="3417" bindingType="NoDependency"/>

				<!-- Рекламная статья (пакет «Дополнительный») -->
				<position id="3485" bindingType="NoDependency"/>
			</deniedPositions>
		</position>

		<!-- Рубрика свыше 5 бесплатных (Пакет «Дополнительный») -->
		<position id="3486">
			<deniedPositions>
				<!-- Рубрика свыше 5 бесплатных (Пакет "Дополнительный") -->
				<position id="3425" bindingType="NoDependency"/>

				<!-- Рубрика свыше 5 бесплатных (Пакет «Дополнительный») -->
				<position id="3486" bindingType="NoDependency"/>
			</deniedPositions>
		</position>

		<!-- Микрокомментарий в рубрике (пакет "Всё включено") -->
		<position id="3436">
			<deniedPositions>
				<!-- Микрокомментарий в рубрике -->
				<position id="72" bindingType="NoDependency"/>

				<!-- Микрокомментарий в рубрике (пакет "Всё включено") -->
				<position id="3436" bindingType="NoDependency"/>

				<!-- Подключение микрокомментария к дополнительной рубрике -->
				<position id="76" bindingType="Match"/>

				<!-- Подключение микрокомментария к дополнительной рубрике (пакет «Дополнительный») -->
				<position id="3483" bindingType="Match"/>
			</deniedPositions>
		</position>

		<!-- Комментарий к фирме (пакет "Всё включено") -->
		<position id="3416">
			<deniedPositions>
				<!-- Комментарий к фирме -->
				<position id="10" bindingType="NoDependency"/>

				<!-- Комментарий к фирме (пакет "Всё включено") -->
				<position id="3416" bindingType="NoDependency"/>
			</deniedPositions>
		</position>

		<!-- Дополнительный текст для микрокомментария (пакет «Дополнительный») -->
		<position id="3478">
			<masterPositions>
				<!-- Микрокомментарий в рубрике (пакет "Всё включено") -->
				<position id="3436" bindingType="NoDependency"/>
			</masterPositions>

			<deniedPositions>
				<!-- Дополнительный текст для микрокомментария (пакет «Дополнительный») -->
				<position id="3478" bindingType="NoDependency"/>
			</deniedPositions>
		</position>

		<!-- Подключение микрокомментария к дополнительной рубрике (пакет «Дополнительный») -->
		<position id="3483">
			<masterPositions>
				<!-- Микрокомментарий в рубрике (пакет "Всё включено") -->
				<position id="3436" bindingType="Different"/>
			</masterPositions>

			<deniedPositions>
				<!-- Подключение микрокомментария к дополнительной рубрике -->
				<position id="76" bindingType="Match"/>

				<!-- Подключение микрокомментария к дополнительной рубрике (пакет «Дополнительный») -->
				<position id="3483" bindingType="NoDependency"/>
			</deniedPositions>
		</position>

		<!-- Микрокомментарий в рубрике (пакет "Full house") -->
		<position id="325462418333470664">
			<deniedPositions>
			<!-- Микрокомментарий в рубрике (пакет "Full house") -->
				<position id="325462418333470664" bindingType="Match"/>
				
				<!-- Баннер в рубрике (пакет "Всё включено") -->
				<position id="3415" bindingType="NoDependency"/>

				<!-- Двойной баннер (пакет "Всё включено") -->
				<position id="3419" bindingType="NoDependency"/>

				<!-- Микрокомментарий в рубрике (пакет "Всё включено") -->
				<position id="3436" bindingType="NoDependency"/>

				<!-- Подключение двойного баннера к рубрике -->
				<position id="5" bindingType="NoDependency"/>

				<!-- Подключение двойного баннера к рубрике (Пакет «Дополнительный») -->
				<position id="3482" bindingType="NoDependency"/>

				<!-- Подключение микрокомментария к дополнительной рубрике -->
				<position id="76" bindingType="NoDependency"/>

				<!-- Подключение микрокомментария к дополнительной рубрике (пакет «Дополнительный») -->
				<position id="3483" bindingType="NoDependency"/>

				<!-- Подключение одинарного баннера к рубрике -->
				<position id="4" bindingType="NoDependency"/>

				<!-- Подключение одинарного баннера к рубрике (Пакет «Дополнительный») -->
				<position id="3484" bindingType="NoDependency"/>
			</deniedPositions>
		</position>

		<!-- Абонентская плата в API/Online -->
		<position id="3414">
			<masterPositions>
				<!-- Абонентская плата Mobile -->
				<position id="3455" bindingType="NoDependency"/>
			</masterPositions>
		</position>

		<!-- Additional company information in the company card (PC)_new -->
		<position id="522113486195967678">
			<masterPositions>
				<!-- Advanced priority 1 in one category (Silver) -->
				<position id="522091883600974526" bindingType="NoDependency"/>
			</masterPositions>
		</position>

		<!-- Smart-banner Dubai -->
		<position id="523655873385330120">
			<masterPositions>
				<!-- Gold priority in one category (Gold) -->
				<position id="522089591105600190" bindingType="NoDependency"/>
			</masterPositions>
		</position>

		<!-- Микрокомментарий в рубрике -->
		<position id="593002894533630920">
			<deniedPositions>
				<!-- Микрокомментарий в рубрике Vip -->
				<position id="589581983441535233" bindingType="Match"/>

				<!-- Микрокомментарий в рубрику -->
				<position id="583618856544969985" bindingType="Match"/>

				<!-- Микрокомментарий в рубрику Vip -->
				<position id="595306692573252353" bindingType="Match"/>

				<!-- Микрокомментарий в рубрике -->
				<position id="593002894533630920" bindingType="Match"/>
			</deniedPositions>
		</position>

		<!-- Микрокомментарий в рубрике Vip -->
		<position id="589581983441535233">
			<deniedPositions>
				<!-- Микрокомментарий в рубрике Vip -->
				<position id="589581983441535233" bindingType="Match"/>
			</deniedPositions>
		</position>

		<!-- Микрокомментарий в рубрику -->
		<position id="583618856544969985">
			<deniedPositions>
				<!-- Микрокомментарий в рубрику -->
				<position id="583618856544969985" bindingType="Match"/>
			</deniedPositions>
		</position>

		<!-- Микрокомментарий в рубрику Vip -->
		<position id="595306692573252353">
			<deniedPositions>
				<!-- Микрокомментарий в рубрику Vip -->
				<position id="595306692573252353" bindingType="Match"/>
			</deniedPositions>
		</position>

		<!-- Подключение микрокомментария в рубрики -->
		<position id="588707365251975937">
			<deniedPositions>
				<!-- Подключение микрокомментария в рубрики Vip -->
				<position id="595302182320665089" bindingType="Match"/>

				<!-- Подключение микрокомментария в рубрику (Интернет-площадка 2gis.ru) -->
				<position id="580725640031992065" bindingType="Match"/>

				<!-- Подключение микрокомментария в рубрику Vip (Интернет-площадка 2gis.ru) -->
				<position id="593871548870817793" bindingType="Match"/>

				<!-- Подключение микрокомментария в другие рубрики (Интернет-площадка 2gis.ru) -->
				<position id="588118728886650369" bindingType="Match"/>

				<!-- Подключение микрокомментария в другие рубрики Vip (Интернет-площадка 2gis.ru) -->
				<position id="595294389798659073" bindingType="Match"/>

				<!-- Подключение микрокомментария в рубрики -->
				<position id="588707365251975937" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрике Vip -->
				<position id="589581983441535233" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрику -->
				<position id="583618856544969985" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрику Vip -->
				<position id="595306692573252353" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрике -->
				<position id="593002894533630920" bindingType="Match"/>					
			</deniedPositions>
		</position>

		<!-- Комментарий к фирме, рекламная ссылка к фирме -->
		<position id="592992959772670664">
			<deniedPositions>
				<!-- Комментарий к фирме, рекламная ссылка к фирме Vip -->
				<position id="589585171506867969" bindingType="Match"/>

				<!-- Комментарий к фирме, рекламная ссылка к фирме -->
				<position id="592992959772670664" bindingType="Match"/>
			</deniedPositions>
		</position>

		<!-- Комментарий к фирме, рекламная ссылка к фирме Vip -->
		<position id="589585171506867969">
			<deniedPositions>
				<!-- Комментарий к фирме, рекламная ссылка к фирме Vip -->
				<position id="589585171506867969" bindingType="Match"/>
			</deniedPositions>
		</position>

		<!-- Подключение двойного баннера в рубрику -->
		<position id="580737156546395905">
			<deniedPositions>
				<!-- Баннер в рубрике (пакет "Всё включено") -->
				<position id="3415" bindingType="Match"/>

				<!-- Двойной баннер (пакет "Всё включено") -->
				<position id="3419" bindingType="Match"/>
			</deniedPositions>
		</position>

		<!-- Подключение баннера в рубрику -->
		<position id="580723867326183169">
			<deniedPositions>
				<!-- Баннер в рубрике (пакет "Всё включено") -->
				<position id="3415" bindingType="Match"/>

				<!-- Двойной баннер (пакет "Всё включено") -->
				<position id="3419" bindingType="Match"/>
			</deniedPositions>
		</position>

		<!-- пакет «Дополнительный» -->
		<position id="580732094914853889">
			<masterPositions>
				<!-- Пакет Всё включено -->
				<position id="580817559974753537" bindingType="NoDependency"/>
				<!-- Пакет «Всё включено» -->
				<position id="592991502460732872" bindingType="NoDependency"/>
				<!-- Пакет «Всё включено+» -->
				<position id="580745670945834497" bindingType="NoDependency"/>
			</masterPositions>
		</position>

		<!-- пакет «Дополнительный» VIP -->
		<position id="580827613873094401">
			<masterPositions>
				<!-- Пакет Всё включено VIP -->
				<position id="580838177156416769" bindingType="NoDependency"/>
				<!-- Пакет «Всё включено+» VIP -->
				<position id="580824501170387713" bindingType="NoDependency"/>
				<!-- Пакет «Всё включено» VIP -->
				<position id="580820398545483521" bindingType="NoDependency"/>
			</masterPositions>
		</position>

		<!-- Подключение в другие рубрики для пакета Всё включено -->
		<position id="580899780199520257">
			<masterPositions>
				<!-- Пакет Всё включено -->
				<position id="580817559974753537" bindingType="NoDependency"/>
			</masterPositions>
		</position>

		<!-- Подключение в другие рубрики для пакета Всё включено Vip -->
		<position id="595300343403554305">
			<masterPositions>
				<!-- Пакет Всё включено VIP -->
				<position id="580838177156416769" bindingType="NoDependency"/>
			</masterPositions>
		</position>

		<!-- Подключение в другую рубрику для пакета «Всё включено+» -->
		<position id="580799144052568577">
			<masterPositions>
				<!-- Пакет «Всё включено+» -->
				<position id="580745670945834497" bindingType="NoDependency"/>
			</masterPositions>
		</position>

		<!-- Подключение в другую рубрику для пакета «Всё включено+» Vip -->
		<position id="593872930382289409">
			<masterPositions>
				<!-- Пакет «Всё включено+» VIP -->
				<position id="580824501170387713" bindingType="NoDependency"/>
			</masterPositions>
		</position>

		<!-- Подключение в другую рубрику для пакета «Всё включено» -->
		<position id="580719640482772225">
			<masterPositions>
				<!-- Пакет «Всё включено» -->
				<position id="592991502460732872" bindingType="NoDependency"/>

				<!-- Пакет «Всё включено+» -->
				<position id="580745670945834497" bindingType="NoDependency"/>
			</masterPositions>
		</position>

		<!-- Подключение в другую рубрику для пакета «Всё включено» VIP -->
		<position id="593858694352361729">
			<masterPositions>
				<!-- Пакет «Всё включено» VIP -->
				<position id="580820398545483521" bindingType="NoDependency"/>

				<!-- Пакет «Всё включено+» VIP -->
				<position id="580824501170387713" bindingType="NoDependency"/>
			</masterPositions>
		</position>

		<!-- Подключение микрокомментария в другие рубрики -->
		<position id="580728759100996353">
			<masterPositions>
				<!-- Пакет «Все включено» -->
				<position id="3490" bindingType="NoDependency"/>

				<!-- Пакет «Все включено+» -->
				<position id="3491" bindingType="NoDependency"/>
			</masterPositions>
		</position>

		<!-- Подключение микрокомментария в другие рубрики Vip -->
		<position id="595292686399521537">
			<masterPositions>
				<!-- Пакет «Все включено» VIP -->
				<position id="217703570753051143" bindingType="NoDependency"/>

				<!-- Пакет «Все включено+» VIP -->
				<position id="217701813664598535" bindingType="NoDependency"/>
			</masterPositions>
		</position>
		
		<!-- Подключение микрокомментария в рубрики Vip -->
		<position id="595302182320665089">
			<deniedPositions>					
				<!-- Микрокомментарий в рубрике Vip -->
				<position id="589581983441535233" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрику -->
				<position id="583618856544969985" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрику Vip -->
				<position id="595306692573252353" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрике -->
				<position id="593002894533630920" bindingType="Match"/>	

				<!-- Подключение микрокомментария в рубрики Vip -->
				<position id="595302182320665089" bindingType="Match"/>		
			</deniedPositions>
		</position>
		
		
		<!-- Подключение микрокомментария в рубрику (Интернет-площадка 2gis.ru) -->
		<position id="580725640031992065">
			<deniedPositions>					
				<!-- Микрокомментарий в рубрике Vip -->
				<position id="589581983441535233" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрику -->
				<position id="583618856544969985" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрику Vip -->
				<position id="595306692573252353" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрике -->
				<position id="593002894533630920" bindingType="Match"/>	

				<!-- Подключение микрокомментария в рубрику (Интернет-площадка 2gis.ru) -->
				<position id="580725640031992065" bindingType="Match"/>	
			</deniedPositions>
		</position>
		
		<!-- Подключение микрокомментария в другие рубрики (Интернет-площадка 2gis.ru) -->
		<position id="588118728886650369">
			<deniedPositions>					
				<!-- Микрокомментарий в рубрике Vip -->
				<position id="589581983441535233" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрику -->
				<position id="583618856544969985" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрику Vip -->
				<position id="595306692573252353" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрике -->
				<position id="593002894533630920" bindingType="Match"/>	

				<!-- Подключение микрокомментария в другие рубрики (Интернет-площадка 2gis.ru) -->
				<position id="588118728886650369" bindingType="Match"/>					
			</deniedPositions>
		</position>
		
		<!-- Подключение микрокомментария в другие рубрики Vip (Интернет-площадка 2gis.ru) -->
		<position id="595294389798659073">
			<deniedPositions>					
				<!-- Микрокомментарий в рубрике Vip -->
				<position id="589581983441535233" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрику -->
				<position id="583618856544969985" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрику Vip -->
				<position id="595306692573252353" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрике -->
				<position id="593002894533630920" bindingType="Match"/>		

				<!-- Подключение микрокомментария в другие рубрики Vip (Интернет-площадка 2gis.ru) -->
				<position id="595294389798659073" bindingType="Match"/>		
			</deniedPositions>
		</position>
		
		
		<!-- Подключение микрокомментария в рубрику Vip (Интернет-площадка 2gis.ru)-->
		<position id="593871548870817793">
			<deniedPositions>					
				<!-- Микрокомментарий в рубрике Vip -->
				<position id="589581983441535233" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрику -->
				<position id="583618856544969985" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрику Vip -->
				<position id="595306692573252353" bindingType="Match"/>
				
				<!-- Микрокомментарий в рубрике -->
				<position id="593002894533630920" bindingType="Match"/>		

				<!-- Подключение микрокомментария в рубрику Vip (Интернет-площадка 2gis.ru) -->
				<position id="593871548870817793" bindingType="Match"/>		
			</deniedPositions>
		</position>
		

	</associatedDeniedPositions>
</orderValidationSettings>