<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ermServicesSettings" type="DoubleGis.Erm.Platform.API.Core.Settings.APIServices.Config.Xml.ErmServiceDescriptionsConfigurationSection, 2Gis.Erm.Platform.API.Core" requirePermission="false" />
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <appSettings>
    <add key="BusinessModel" value="Russia" />
    <add key="SignificantDigitsNumber" value="2" />
    
    <add key="CachingMode" value="InProc" />
    <add key="DistributedCacheName" value="default" />

    <add key="EnableNotifications" value="false" />

    <add key="MsCrmIntegrationMode" value="Disabled" />
    
    
    <add key="OperationLoggingTargets" value="DB" />
    
    <add key="MinDebtAmount" value="-100" />
    
    <add key="OrderRequestProcessingHoursAmount" value="2" />
    
    <add key="TargetEnvironment" value="Development" />
    <!-- возможные значения: Development, Test, Production -->
    <add key="EntryPointName" value="API.WCF.Operations.Special" />
    <add key="TargetEnvironmentName" value="Dev" />
  </appSettings>

  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Erm;Integrated Security=True;Application Name=ErmFinancialOperationsSvc" />
    <add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ErmLogging;Integrated Security=True;Enlist=False;Application Name=ErmLoggingFinancialOperationsSvc" />

    <add name="ErmPerformedOperationsServiceBus" connectionString="Endpoint=sb://rnd-151.2gis.local/PerformedOperations;StsEndpoint=https://rnd-151.2gis.local:9355/PerformedOperations;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=CeDMmQz8t7l611tXTxUM/C3mrkJxGF/1gVgIvRKiJ6w=" />
  </connectionStrings>

  <ermServicesSettings>
    <ermServices>
      <ermService name="MoDiService" restUrl="https://localhost:44304" baseUrl="https://localhost:44304" soapEndpointName="" />
      <ermService name="OrderValidationService" restUrl="https://localhost:44301/Validate.svc/Rest" baseUrl="https://localhost:44301" soapEndpointName="WSHttpBinding_IOrderValidationApplicationService_Secure" />
      <ermService name="IdentityService" restUrl="https://localhost:44303/Identity.svc/Rest" baseUrl="https://localhost:44303" soapEndpointName="WSHttpBinding_IIdentityProviderApplicationService_Secure" />
      <ermService name="WebClientService" restUrl="https://localhost:44300" baseUrl="https://localhost:44300" />
    </ermServices>
  </ermServicesSettings>

  <dataCacheClients>
    <dataCacheClient name="default" maxConnectionsToServer="8">
      <hosts>
        <host name="localhost" cachePort="22233" />
      </hosts>
    </dataCacheClient>
  </dataCacheClients>

  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="Off" />
  </system.web>
  
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="true" />
    <extensions>
      <behaviorExtensions>
        <add name="serviceVersioning" type="DoubleGis.Erm.Platform.WCF.Extensions.VersionBehaviorExtensionElement, 2Gis.Erm.Platform.WCF.Extensions" />
        <add name="sharedTypesMessageInspector" type="DoubleGis.Erm.API.WCF.Operations.Special.SharedTypesMessageInspectorEndpointBehaviorExtensionElement, 2Gis.Erm.API.WCF.Operations.Special" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="sharedTypesMessageInspectorBehavior">
          <sharedTypesMessageInspector />
        </behavior>
        <behavior name="restEndpointWithCustomSerializationBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="defautServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDiscovery />
          <serviceVersioning />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="sslUnsecureWsHttpConfiguration" maxReceivedMessageSize="10000000" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="sslWsHttpConfiguration" maxReceivedMessageSize="10000000" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="sslWebHttpConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.Special.FinancialOperations.CostCalculationApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WSHttpBinding_ICostCalculationApplicationService_Secure" behaviorConfiguration="sharedTypesMessageInspectorBehavior" address="Soap/Generic" binding="wsHttpBinding" bindingConfiguration="sslUnsecureWsHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Special.Remote.CostCalculation.ICostCalculationApplicationService" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.Special.FinancialOperations.RequestStateApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WSHttpBinding_IRequestStateApplicationService_Secure" behaviorConfiguration="sharedTypesMessageInspectorBehavior" address="Soap/Generic" binding="wsHttpBinding" bindingConfiguration="sslWsHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Special.Remote.OrderProcessing.IRequestStateApplicationService" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.Special.FinancialOperations.OrderProcessingRequestsApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WSHttpBinding_IOrderProcessingRequestsApplicationService_Secure" behaviorConfiguration="sharedTypesMessageInspectorBehavior" address="Soap/Generic" binding="wsHttpBinding" bindingConfiguration="sslWsHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Special.Remote.OrderProcessing.IOrderProcessingRequestsApplicationService" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.Special.FirmInfo.FirmInfoApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IFirmInfoApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Special.Remote.FirmInfo.IFirmInfoApplicationRestService" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.Special.AdsManagement.HandleAdsStateApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IHandleAdsStateApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Special.Remote.AdsManagement.IHandleAdsStateApplicationRestService" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.Special.AdsManagement.ManageTextAdsApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IManageTextAdsApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Special.Remote.AdsManagement.IManageTextAdsApplicationRestService" />
      </service>
    </services>
  </system.serviceModel>
  
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="https://localhost:44300" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>