.x-grid3-check-col-disabled {
	background-image:url(images/default/menu/unchecked.gif);
}

.x-grid3-check-col-on-disabled {
    background-image:url(images/Security/checkbox_checked_disabled.png);
}

.x-grid3-check-col-intermediate {
    width:100%;
    height:16px;
    background-position:center center;
    background-repeat:no-repeat;
    background-color:transparent;
	background-image:url(images/Security/checkbox_intermediate.png);
}

.x-grid3-check-col-intermediate-disabled {
	background-image:url(images/Security/checkbox_intermediate_disabled.png);
}
