<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2GIS.NuClear.Jobs" version="1.1.1" targetFramework="net451" />
  <package id="2GIS.NuClear.Security.API" version="1.0.1" targetFramework="net451" />
  <package id="2GIS.NuClear.Settings.API" version="1.1.0" targetFramework="net451" />
  <package id="2GIS.NuClear.Tracing.API" version="1.0.2" targetFramework="net451" />
  <package id="Common.Logging" version="2.2.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net451" />
  <package id="Quartz" version="2.2.3" targetFramework="net451" />
</packages>