<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">

  <!-- overwrite existing jobs -->
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

	<schedule>

		<!-- ******************** -->
		<!-- Рассылка уведомлений -->
		<!-- ******************** -->

		<!-- Рассылка уведомлений -->
		<job>
			<name>Рассылка уведомлений</name>
			<group>Erm</group>
			<description>Рассылка уведомлений</description>
			<job-type>DoubleGis.Erm.BL.TaskService.Jobs.ProcessNotifications, 2Gis.Erm.BL.TaskService</job-type>

			<durable>true</durable>
			<recover>false</recover>
		</job>

		<trigger>
			<cron>
				<name>Рассылка уведомлений - каждую минуту</name>
				<group>Erm</group>
				<job-name>Рассылка уведомлений</job-name>
				<job-group>Erm</job-group>

				<cron-expression>0 0/1 * * * ?</cron-expression>
				<time-zone>N. Central Asia Standard Time</time-zone>
			</cron>
		</trigger>

		<!-- Экспорт объектов в MS CRM -->
		<job>
			<name>Экспорт объектов в MS CRM</name>
			<group>Erm</group>
			<description>Экспорт объектов в MS CRM</description>
			<job-type>DoubleGis.Erm.BL.TaskService.Jobs.MS_CRM.ExportObjectsToMsCrmJob, 2Gis.Erm.BL.TaskService</job-type>

			<durable>true</durable>
			<recover>false</recover>

			<job-data-map>
				<entry>
					<key>OperationCount</key>
					<value>1</value>
				</entry>
			</job-data-map>

		</job>

		<trigger>
			<cron>
				<name>Экспорт объектов в MS CRM - каждую минуту</name>
				<group>Erm</group>
				<job-name>Экспорт объектов в MS CRM</job-name>
				<job-group>Erm</job-group>

				<cron-expression>0 0/1 * * * ?</cron-expression>
				<time-zone>N. Central Asia Standard Time</time-zone>

			</cron>
		</trigger>

		<trigger>
			<cron>
				<name>Экспорт невалидных объектов в MS CRM - каждую минуту</name>
				<group>Erm</group>
				<job-name>Экспорт объектов в MS CRM</job-name>
				<job-group>Erm</job-group>

				<job-data-map>
					<entry>
						<key>ExportInvalidObjects</key>
						<value>true</value>
					</entry>
				</job-data-map>

				<cron-expression>0 0/1 * * * ?</cron-expression>
				<time-zone>N. Central Asia Standard Time</time-zone>

			</cron>
		</trigger>

		<!-- Репликация в CRM -->
		<job>
			<name>Репликация в CRM</name>
			<group>Erm</group>
			<description>Репликация в CRM</description>
			<job-type>DoubleGis.Erm.BL.TaskService.Jobs.ReplicateEntitiesToCRMJob, 2Gis.Erm.BL.TaskService</job-type>

			<durable>true</durable>
			<recover>false</recover>
		</job>

		<trigger>
			<cron>
				<name>Репликация в CRM - каждую минуту</name>
				<group>Erm</group>
				<job-name>Репликация в CRM</job-name>
				<job-group>Erm</job-group>

				<cron-expression>0 0/1 * * * ?</cron-expression>
				<time-zone>N. Central Asia Standard Time</time-zone>
			</cron>
		</trigger>

	</schedule>
</job-scheduling-data>
