@model CategoryGroupMembershipViewModel

@{
    Layout = "../Shared/_CardLayout.cshtml";
}

@section CardScripts
{
    <style type="text/css">
        DIV.Tab TABLE TD {
            padding-bottom: 0px !important;
        }
    </style>

    <script src="/Scripts/Ext.DoubleGis.UI.CategoryGroupsMembershipControl.js?@ThisAssembly.Build" type="text/javascript"></script>

    <script type="text/javascript">
        window.InitPage = function () {
            var control = new Ext.DoubleGis.UI.CategoryGroupsMembershipControl({
                renderTo: 'CategoryGroupsForOrganizationUnitDiv',
                organizationUnitId: Ext.get("OrganizationUnitId").dom.value
            });

            window.Card.ViewCategoryGroups = function() {
                var params = "dialogWidth:" + 800 + "px; dialogHeight:" + 600 + "px; status:yes; scroll:yes;resizable:yes;";
                var url = '/Grid/View/CategoryGroup';
                window.showModalDialog(url, null, params);
                this.refresh();
            };

            window.Card.on('beforepost', function(card) {
                control.save();
                return false;
            });
        }
    </script>
}

@section CardBody
{

    <div class="Tab" id="MainTab" title="@BLResources.GeneralTabTitle">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.OrganizationUnitId)
        <div id="CategoryGroupsForOrganizationUnitDiv"></div>
    </div>
}