<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ermServicesSettings" type="DoubleGis.Erm.Platform.API.Core.Settings.APIServices.Config.Xml.ErmServiceDescriptionsConfigurationSection, 2Gis.Erm.Platform.API.Core" requirePermission="false" />
  </configSections>
  <ModuleContainerSettings>
    <CommonSettings>
      <EnableCaching value="true" />
    </CommonSettings>
    <ApiSettings>

      <TargetEnvironment value="Development" />
      <EntryPointName value="UI.Desktop.WPF" />
      <TargetEnvironmentName value="Dev" />
      <ApiUrl value="https://localhost:44302" />

      <ListServiceEndpointName value="IListApplicationServiceSecure" />
      <CreateOrUpdateServiceEndpointName value="ICreateOrUpdateApplicationServiceSecure" />
      <GetDomainEntityDtoServiceEndpointName value="IGetDomainEntityDtoApplicationServiceSecure" />
      <MetadataServiceEndpointName value="IMetadataProviderApplicationServiceSecure" />
      <AssignServiceEndpointName value="IAssignApplicationServiceSecure" />
      <GroupAssignServiceEndpointName value="IGroupAssignApplicationServiceSecure" />
    </ApiSettings>
    <ModulesSettings>
      <Test>
        <TestPropertyValue value="4" />
      </Test>
    </ModulesSettings>
  </ModuleContainerSettings>
  <appSettings>
    <add key="test" value="testresult" />
  </appSettings>
  <ermServicesSettings>
    <ermServices>
      <ermService name="RealeasingService" restUrl="https://localhost:44305/Release.svc/Rest" baseUrl="https://localhost:44305" soapEndpointName="" />
      <ermService name="IntrospectionService" restUrl="https://localhost:44303/Metadata.svc/Rest" baseUrl="https://localhost:44303" soapEndpointName="" />
      <ermService name="OrderValidationService" restUrl="https://localhost:44301/Validate.svc/Rest" baseUrl="https://localhost:44301" soapEndpointName="WSHttpBinding_IOrderValidationApplicationService_Secure" />
      <ermService name="IdentityService" restUrl="https://localhost:44303/Identity.svc/Rest" baseUrl="https://localhost:44303" soapEndpointName="WSHttpBinding_IIdentityProviderApplicationService_Secure" />
      <ermService name="BasicOperationsService" restUrl="https://localhost:44302" baseUrl="https://localhost:44302" soapEndpointName="" />
    </ermServices>
  </ermServicesSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="sslWsHttpConfiguration" maxReceivedMessageSize="20000000" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
      <wsDualHttpBinding>
        <binding name="noneSslWsDualHttpConfiguration" maxReceivedMessageSize="20000000" receiveTimeout="01:00:00" sendTimeout="01:00:00" clientBaseAddress="http://localhost:8000/erm_{E9AF926E-29E3-4B8A-BA45-512923857199}/">
          <security mode="Message">
            <!--<message clientCredentialType="Windows"/>-->
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <!--<endpoint name="IMetadataProviderApplicationService" behaviorConfiguration=""
                address="http://localhost:1328/Metadata.svc/Soap"
                binding="wsHttpBinding" bindingConfiguration="sslWsHttpConfiguration" />-->
      <endpoint name="IMetadataProviderApplicationServiceSecure" behaviorConfiguration="" address="https://localhost:44303/Metadata.svc/Soap" binding="wsHttpBinding" bindingConfiguration="sslWsHttpConfiguration" contract="DoubleGis.Erm.Platform.API.Metadata.IMetadataProviderApplicationService" />
      <!--<endpoint name="ICreateOrUpdateApplicationServiceSecure" 
                address="https://localhost:44302/CreateOrUpdate.svc/Soap" behaviorConfiguration=""
                binding="wsHttpBinding" bindingConfiguration="sslWsHttpConfiguration" />
      <endpoint name="IListApplicationServiceSecure" behaviorConfiguration=""
                address="https://localhost:44302/List.svc/Soap"
                binding="wsHttpBinding" bindingConfiguration="sslWsHttpConfiguration" />
      <endpoint name="IGetDomainEntityDtoApplicationServiceSecure" behaviorConfiguration=""
                address="https://localhost:44302/GetDomainEntityDto.svc/Soap"
                binding="wsHttpBinding" bindingConfiguration="sslWsHttpConfiguration" />
      <endpoint name="IAssignApplicationServiceSecure" behaviorConfiguration=""
                address="https://localhost:44302/Assign.svc/Soap"
                binding="wsHttpBinding" bindingConfiguration="sslWsHttpConfiguration" />
      <endpoint name="IGroupAssignApplicationServiceSecure" behaviorConfiguration=""
                address="http://localhost:1327/GroupAssign.svc/Soap"
                binding="wsDualHttpBinding" bindingConfiguration="noneSslWsDualHttpConfiguration" />-->
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>