<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2GIS.NuClear.Assembling" version="1.0.4" targetFramework="net451" />
  <package id="2GIS.NuClear.DI.Unity" version="1.1.1" targetFramework="net451" />
  <package id="2GIS.NuClear.Settings.API" version="1.1.0" targetFramework="net451" />
  <package id="2GIS.NuClear.Tracing.API" version="1.0.2" targetFramework="net451" />
  <package id="FluentValidation-Signed" version="3.4.6.0" targetFramework="net451" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.14" targetFramework="net451" />
  <package id="ModernUI.WPF" version="1.0.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="nJupiter.Configuration" version="4.0.4.516" targetFramework="net451" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net451" />
</packages>