@using NuClear.Security.API.FunctionalAccess
@model ChangeOrderStateOnApprovalViewModel

@{
    Layout = "../Shared/_DialogLayout.cshtml";
}

@section Title { }
@section TopBarTitle { }
@section TopBarMessage {}

@section PageContent
{
    <script type="text/javascript">
        Ext.onReady(function ()
        {

            var processResult = function ()
            {
                return {
                    InspectorId: Ext.getDom("InspectorId").value,
                    InspectorName: Ext.getDom("InspectorName").value
                };
            };

            //Show error messages
            if (Ext.getDom("Notifications").innerHTML.trim() == "OK")
            {
                window.returnValue = processResult();
                window.close();
                return;
            }
            else if (Ext.getDom("Notifications").innerHTML.trim() != "")
            {
                Ext.getDom("Notifications").style.display = "block";
            }

            Ext.get("Cancel").on("click", function () { window.close(); });
            Ext.get("OK").on("click", function ()
            {
                if (Ext.DoubleGis.FormValidator.validate(window.EntityForm))
                {
                    Ext.getDom("OK").disabled = "disabled";
                    Ext.getDom("Cancel").disabled = "disabled";
                    window.EntityForm.submit();
                }
            });
        });
    </script>
    @using (Html.BeginForm("ChangeStateOnApproval", null, null, FormMethod.Post, new Dictionary<string, object> { { "id", "EntityForm" } }))
    {
    <div class="Tab">
        @Html.HiddenFor(m => m.OrderId)
        <div style="display: none; height: 15px;" id="Notifications" class="Notifications">
            @Model.Message
        </div>
        <div class="row-wrapper">
            @Html.TemplateField(m => m.Inspector, FieldFlex.lone, new LookupSettings
                { 
                    EntityName = EntityType.Instance.User(), 
                    ExtendedInfo = "privilege=" + (int)FunctionalPrivilegeName.OrderStatesAccess + "&orgUnitId=" + Model.SourceOrganizationUnitId 
                })
        </div>
    </div>
    }
}