<?xml version="1.0" encoding="utf-8"?>
<saleSchemasSettings>
  <saleSchemas>

    <!-- матрицы коэффициентов продаж -->
    
    <saleSchema source="Filial" dest="Franch">
      <platforms>
        <platform id="Desktop" direction="Franch" multiplier="0.4" />
        <platform id="Mobile" direction="Franch" multiplier="0.4" />
      </platforms>
    </saleSchema>

    <saleSchema source="Franch" dest="Filial">
      <platforms>
        <platform id="Desktop" direction="Uk" multiplier="0.4" />
        <platform id="Mobile" direction="Uk" multiplier="0.4" />
        <platform id="ApiOnline" direction="Uk" multiplier="0.4" />
        <platform id="ApiPartner" direction="Uk" multiplier="0.4" />
        <platform id="Online" direction="Uk" multiplier="0.4" />
      </platforms>
    </saleSchema>

    <saleSchema source="Franch" dest="Self">
      <platforms>
        <platform id="ApiOnline" direction="Uk" multiplier="0.4" />
        <platform id="ApiPartner" direction="Uk" multiplier="0.4" />
        <platform id="Online" direction="Uk" multiplier="0.4" />
      </platforms>
    </saleSchema>

    <saleSchema source="Franch" dest="Franch">
      <platforms>
        <platform id="Desktop" direction="Franch" multiplier="0.4" />
        <platform id="Mobile" direction="Franch" multiplier="0.4" />
        <platform id="ApiOnline" direction="Uk" multiplier="0.4" />
        <platform id="ApiPartner" direction="Uk" multiplier="0.4" />
        <platform id="Online" direction="Uk" multiplier="0.4" />
      </platforms>
    </saleSchema>

  </saleSchemas>
</saleSchemasSettings>