<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Erm;Integrated Security=True" />
    <add name="CrmConnection" connectionString="" />
    <add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ErmLogging;Integrated Security=True;Enlist=False" />
    <!--<add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01.2gis.local;Initial Catalog=Erm04;Integrated Security=True" />
    <add name="CrmConnection" connectionString="" />
    <add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01.2gis.local;Initial Catalog=ErmLogging04;Integrated Security=True;Enlist=False" />-->
  </connectionStrings>
  <runtime>
    
    <!-- load platform specific dll from manifest -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.BatchParser" publicKeyToken="89845dcd8080cc91" processorArchitecture="x86" culture="neutral"/>
        <codeBase version="10.0.0.0" href=".\x86\Microsoft.SqlServer.BatchParser.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.BatchParser" publicKeyToken="89845dcd8080cc91" processorArchitecture="amd64" culture="neutral"/>
        <codeBase version="10.0.0.0" href=".\x64\Microsoft.SqlServer.BatchParser.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    
  </runtime>
  <!-- Для предотвращения исключения, выкидываемого SQL SMO. -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
