<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CrmConnection" connectionString="" />
		<add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=Erm42;Integrated Security=True" />
		<add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=ErmLogging42;Integrated Security=True;Enlist=False" />
  </connectionStrings>
  <!-- Для предотвращения исключения, выкидываемого SQL SMO. -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>