<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
	  <add name="ErmPerformedOperationsServiceBus" connectionString="Endpoint=sb://uk-erm-test09.2gis.local/Erm-04,sb://uk-erm-test08.2gis.local/Erm-04;StsEndpoint=https://uk-erm-test09.2gis.local:9355/Erm-04,https://uk-erm-test08.2gis.local:9355/Erm-04;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=6k1N+enGbXNLaSuFCNe2+4OrVB8+QccRZQMhpgOwVZ8=" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>