<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- replace application settings -->
  <appSettings>
    <add key="EnableReplication" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="EnableCaching" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableIntegration" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IntegrationApplicationName" value="ERM.EA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServer" value="http://uk-erm-edu01.2gis.local/ReportServer/Pages/ReportViewer.aspx?/ERM_ENG" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="EnableNotifications" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironmentName" value="Edu.UAE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="BasicLanguage" value="en" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessModel" value="Cyprus" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RegionalTerritoryLocaleSpecificWord" value="Regional territory" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableRabbitMqQueue" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MaxWorkingThreads" value="5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />


    <add key="FtpExportSite" value="ftp://testftp.2gis.local/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FtpExportSiteUsername" value="UK.TestFTP.Full" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FtpExportSitePassword" value="Angcthdbc07" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>


  <!-- replace connection strings -->

  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-edu01.2gis.local;Initial Catalog=ErmEA;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmRabbitMq" connectionString="Hostname=mq.test;Port=5672;VirtualHost=erm06;UserName=erm;Password=LeoYee5y" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmValidation" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-edu01.2gis.local;Initial Catalog=ErmEA;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmReports" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-edu01.2gis.local;Initial Catalog=ErmReportsEA;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-edu01.2gis.local;Initial Catalog=ErmLoggingEA;Integrated Security=True;Enlist=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <ermServicesSettings>
    <ermServices>
      <ermService name="IntrospectionService" restUrl="https://metadata.api.edu.erm.uae/Metadata.svc/Rest" baseUrl="https://metadata.api.edu.erm.uae" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="OrderValidationService" restUrl="https://order-validation.api.edu.erm.uae/Validate.svc/Rest" baseUrl="https://order-validation.api.edu.erm.uae"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="IdentityService" restUrl="https://metadata.api.edu.erm.uae/Identity.svc/Rest" baseUrl="https://metadata.api.edu.erm.uae" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="BasicOperationsService" restUrl="https://basic-operations.api.edu.erm.uae" baseUrl="https://basic-operations.api.edu.erm.uae" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="MoDiService" restUrl="https://money-distribution.api.edu.erm.uae" baseUrl="https://money-distribution.api.edu.erm.uae" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="FinancialOperationsService" restUrl="https://financial-operations.api.edu.erm.uae" baseUrl="https://financial-operations.api.edu.erm.uae" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="RealeasingService" restUrl="https://releasing.api.edu.erm.uae" baseUrl="https://releasing.api.edu.erm.uae" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="WebClientService" restUrl="https://web-app.edu.erm.uae" baseUrl="https://web-app.edu.erm.uae" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </ermServices>
  </ermServicesSettings>

  <system.web>
    <!-- enable asp.net custom errors -->
    <customErrors mode="On" xdt:Transform="SetAttributes" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes" />
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="CanonicalHostNameRule" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^web-app\.edu\.erm\.uae$" negate="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
            <add input="{URL}" pattern="\.svc$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://web-app.edu.erm.uae/{R:1}" redirectType="Found" />
        </rule>
        <rule name="RedirectToHttpsRule" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="^web-app\.edu\.erm\.uae$" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
            <add input="{URL}" pattern="\.svc$" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{URL}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <!-- Web app-->
        <add name="Access-Control-Allow-Origin" value="https://basic-operations.api.edu.erm.uae" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='UI.Web.Mvc']])" />
        <!-- Metadata svc-->
        <add name="Access-Control-Allow-Origin" value="https://web-app.edu.erm.uae" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='API.WCF.Metadata']])" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint name="NetTcpBinding_IBrokerApiSender" address="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>

      <endpoint name="NetTcpBinding_IBrokerApiReceiver" address="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>

      <endpoint name="BasicHttpEndpoint_GeoMasterApi" address="http://uk-map-gm01.2gis.local/GeoMasterApi/Map2Gis.Service.MasterSystemApi.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>