<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
	  <add name="ErmPerformedOperationsServiceBus" connectionString="Endpoint=sb://uk-erm-test08.2gis.local/ServiceBusERM04,sb://uk-erm-test09.2gis.local/ServiceBusERM04;StsEndpoint=https://uk-erm-test08.2gis.local:9355/ServiceBusERM04,https://uk-erm-test09.2gis.local:9355/ServiceBusERM04;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=uyTa6lotC+0yFwcNB69G6OtEaJFKOTL5zPshxBJry3k=" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>