<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-test02.2gis.local;Initial Catalog=Erm02;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmValidation" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-test02.2gis.local;Initial Catalog=Erm02;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	<add name="ErmReports" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-test02.2gis.local;Initial Catalog=ErmReports02;Integrated Security=True;Enlist=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-test02.2gis.local;Initial Catalog=ErmLogging02;Integrated Security=True;Enlist=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
     <system.serviceModel>
    <client>
      <endpoint name="NetTcpBinding_IBrokerApiSender" binding="wsHttpBinding" bindingConfiguration="nonSslWsHttpConfiguration" address="http://fake-bus08.api.test.erm.russia/BrokerApiService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity xdt:Transform="Remove">
          <servicePrincipalName value="host/uk-bus-test02.2gis.local" xdt:Transform="SetAttributes" />
        </identity>
      </endpoint>
      <endpoint name="NetTcpBinding_IBrokerApiReceiver" binding="wsHttpBinding" bindingConfiguration="nonSslWsHttpConfiguration" address="http://fake-bus08.api.test.erm.russia/BrokerApiService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity xdt:Transform="Remove">
          <servicePrincipalName value="host/uk-bus-test02.2gis.local" xdt:Transform="SetAttributes" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>