<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">

  <!-- overwrite existing jobs -->
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>

    <!-- ************************* -->
    <!-- Работа с ServiceBus -->
    <!-- ************************* -->

    <!-- Primary Processors -->
    <!-- Возможные значения для Flow: PrimaryReplicate2MsCRMPerformedOperationsFlow; PrimaryReplicate2ElasticSearchPerformedOperationsFlow; PrimaryReplicateHotClientPerformedOperationsFlow -->
    <job>
      <name>PerformedOperationsPrimaryProcessingJob</name>
      <group>ErmInterruptable</group>
      <description>PerformedOperationsPrimaryProcessingJob</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.PerformedOperationsProcessing.PerformedOperationsPrimaryProcessingJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>
	
    <trigger>
      <simple>
        <name>PrimaryReplicate2MsCRMPerformedOperationsFlow</name>
        <group>Erm</group>

        <job-name>PerformedOperationsPrimaryProcessingJob</job-name>
        <job-group>ErmInterruptable</job-group>

      <job-data-map>
        <entry>
          <key>BatchSize</key>
          <value>2000</value>
        </entry>
        <entry>
          <key>Flow</key>
          <value>PrimaryReplicate2MsCRMPerformedOperationsFlow</value>
        </entry>
        <entry>
          <key>TimeSafetyOffsetHours</key>
          <value>2</value>
        </entry>
      </job-data-map>

        <repeat-count>0</repeat-count>
        <repeat-interval>0</repeat-interval>
        
      </simple>
    </trigger>
	
    <trigger>
      <simple>
        <name>PrimaryReplicate2ElasticSearchPerformedOperationsFlow</name>
        <group>Erm</group>

        <job-name>PerformedOperationsPrimaryProcessingJob</job-name>
        <job-group>ErmInterruptable</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>2000</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>PrimaryReplicate2ElasticSearchPerformedOperationsFlow</value>
          </entry>
          <entry>
            <key>TimeSafetyOffsetHours</key>
            <value>2</value>
          </entry>
        </job-data-map>

        <repeat-count>0</repeat-count>
        <repeat-interval>0</repeat-interval>
        
      </simple>
    </trigger>

    <!-- Final Processors -->
    <!-- Возможные значения для Flows: FinalStorageReplicate2MsCRMPerformedOperationsFlow; FinalStorageReplicateHotClientPerformedOperationsFlow -->
    <job>
      <name>Репликация в MS CRM - Final</name>
      <group>Erm</group>
      <description>Репликация в MS CRM - Final</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.PerformedOperationsProcessing.PerformedOperationsFinalProcessingJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>BatchSize</key>
          <value>1000</value>
        </entry>
        <entry>
          <key>Flows</key>
          <value>FinalStorageReplicate2MsCRMPerformedOperationsFlow</value>
        </entry>
        <entry>
          <key>RecoveryMode</key>
          <value>false</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <simple>
        <name>Репликация в MS CRM - Final - первичная обработка</name>
        <group>Erm</group>

        <job-name>Репликация в MS CRM - Final</job-name>
        <job-group>Erm</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>2000</repeat-interval>
        
      </simple>
    </trigger>
    
    <trigger>
      <simple>
        <name>Репликация в MS CRM - Final - повторная обработка</name>
        <group>Erm</group>

        <job-name>Репликация в MS CRM - Final</job-name>
        <job-group>Erm</job-group>

        <job-data-map>
          <entry>
            <key>RecoveryMode</key>
            <value>true</value>
          </entry>
        </job-data-map>

        <repeat-count>-1</repeat-count>
        <repeat-interval>120000</repeat-interval>
        
      </simple>
    </trigger>

    <!-- ************************* -->
    <!-- Репликация в ElasticSearch -->
    <!-- ************************* -->
    <job>
      <name>Репликация в ElasticSearch</name>
      <group>ErmInterruptable</group>
      <description>Репликация в ElasticSearch</description>
      <job-type>DoubleGis.Erm.BLQuerying.TaskService.Jobs.ReplicateDocumentsToElasticSearchJob, 2Gis.Erm.BLQuerying.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>
	
    <trigger>
      <cron>
        <name>Репликация в ElasticSearch - каждые 5 минут</name>
        <group>Erm</group>
        <job-name>Репликация в ElasticSearch</job-name>
        <job-group>ErmInterruptable</job-group>

        <cron-expression>0 0/5 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

  </schedule>
</job-scheduling-data>