<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">

  <!-- overwrite existing jobs -->
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>

    <trigger>
      <cron>
        <name>Постинтеграционные активности - каждую минуту</name>
        <group>Erm</group>
        <job-name>Постинтеграционные активности</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Удаление висячих файлов - в час ночи каждый день</name>
        <group>Erm</group>
        <job-name>Удаление висячих файлов</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0 1 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Чистка логов - в шабат</name>
        <group>Erm</group>
        <job-name>Чистка логов</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0 11 ? * SAT</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Синхронизация профилей пользователя и AD - в полночь каждый день</name>
        <group>Erm</group>
        <job-name>Синхронизация профилей пользователя и AD</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0 0 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>
    
    <trigger>
      <cron>
        <name>Рассылка уведомлений - каждую минуту</name>
        <group>Erm</group>
        <job-name>Рассылка уведомлений</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Обработка сообщений локальной очереди - каждую минуту</name>
        <group>Erm</group>
        <job-name>Обработка сообщений локальной очереди</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Проверка локальной очереди на зависшие сообщения - каждую минуту</name>
        <group>Erm</group>
        <job-name>Проверка локальной очереди на зависшие сообщения</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Экспорт локальных сообщений - в полночь каждый день</name>
        <group>Erm</group>
        <job-name>Экспорт локальных сообщений</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0 0 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Импорт объектов из шины интеграции - каждую минуту</name>
        <group>Erm</group>
        <job-name>Импорт объектов из шины интеграции</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Экспорт объектов в шину интеграции - каждые 20 секунд</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции - Производственные</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0/20 * * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Экспорт объектов в шину интеграции, ранее не прошедших валидацию - каждый час</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции - Производственные</job-name>
        <job-group>Erm</job-group>

        <job-data-map>
          <entry>
            <key>Flows</key>
            <value>flowOrders.AdvMaterial;flowOrders.Resource;flowOrders.Theme;flowOrders.ThemeBranch;flowFinancialData.LegalEntity;flowOrders.Order;flowNomenclatures.NomenclatureElement;flowNomenclatures.NomenclatureElementRelation;flowPriceLists.PriceList;flowPriceLists.PriceListPosition;flowOrders.Invoice;flowFinancialData.Client</value>
          </entry>
          <entry>
            <key>ExportInvalidObjects</key>
            <value>true</value>
          </entry>
        </job-data-map>

        <cron-expression>0 0 0/1 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Экспорт объектов в шину интеграции - каждую минуту</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции - Финансовые</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Экспорт объектов, связанных с тематиками, в шину интеграции - каждые 10 минут</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции - Тематики</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/10 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Экспорт горячих клиентов в MsCrm - каждую минуту</name>
        <group>Erm</group>
        <job-name>Экспорт горячих клиентов в MsCrm</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Экспорт горячих клиентов в MsCrm, ранее не прошедших валидацию - каждую минуту</name>
        <group>Erm</group>
        <job-name>Экспорт горячих клиентов в MsCrm</job-name>
        <job-group>Erm</job-group>

        <job-data-map>
          <entry>
            <key>ExportInvalidObjects</key>
            <value>true</value>
          </entry>
        </job-data-map>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <simple>
        <name>PrimaryReplicate2MsCRMPerformedOperationsFlow</name>
        <group>Erm</group>

        <job-name>PerformedOperationsReceiverJob</job-name>
        <job-group>ErmInterruptable</job-group>

      <job-data-map>
        <entry>
          <key>BatchSize</key>
          <value>100</value>
        </entry>
        <entry>
          <key>Flow</key>
          <value>PrimaryReplicate2MsCRMPerformedOperationsFlow</value>
        </entry>
        <entry>
          <key>TimeSafetyOffsetHours</key>
          <value>2</value>
        </entry>
      </job-data-map>

        <repeat-count>0</repeat-count>
        <repeat-interval>0</repeat-interval>
      </simple>
    </trigger>

    <trigger>
      <simple>
        <name>PrimaryReplicate2ElasticSearchPerformedOperationsFlow</name>
        <group>Erm</group>

        <job-name>PerformedOperationsReceiverJob</job-name>
        <job-group>ErmInterruptable</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>PrimaryReplicate2ElasticSearchPerformedOperationsFlow</value>
          </entry>
          <entry>
            <key>TimeSafetyOffsetHours</key>
            <value>2</value>
          </entry>
        </job-data-map>

        <repeat-count>0</repeat-count>
        <repeat-interval>0</repeat-interval>
      </simple>
    </trigger>

    <trigger>
      <cron>
        <name>Репликация Firm, FirmAddress и Territory - каждую минуту</name>
        <group>Erm</group>
        <job-name>PerformedOperationsFinalProcessingJob</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Репликация ранее не валидных Firm, FirmAddress и Territory - каждые 10 минут</name>
        <group>Erm</group>
        <job-name>PerformedOperationsFinalProcessingJob</job-name>
        <job-group>Erm</job-group>

        <job-data-map>
          <entry>
            <key>RecoveryMode</key>
            <value>true</value>
          </entry>
        </job-data-map>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Репликация в ElasticSearch - каждые 5 минут</name>
        <group>Erm</group>
        <job-name>Репликация в ElasticSearch</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/5 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Импорт сообщений из RabbitMQ - каждую минуту</name>
        <group>Erm</group>
        <job-name>Импорт сообщений из RabbitMQ</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Расчёт перспективности клиентов - в 2 часа ночи каждый день</name>
        <group>Erm</group>
        <job-name>Расчёт перспективности клиентов</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0 2 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Импорт перспективности фирм - в полночь каждый день</name>
        <group>Erm</group>
        <job-name>Импорт перспективности фирм</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0 0 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Автоматическая обработка заявок от ЛК на продление заказов - раз в 15 минут</name>
        <group>Erm</group>
        <job-name>Автоматическая обработка заявок от ЛК на продление заказов</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/15 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Поздравление с днем рождения - в 3 часа ночи каждый день</name>
        <group>Erm</group>
        <job-name>Поздравление с днем рождения</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0 3 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Экспорт объектов в шину интеграции - каждый день</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции - рассылка</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 5 3 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Экспорт объектов в шину интеграции, ранее не прошедших валидацию - каждый день</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции - рассылка</job-name>
        <job-group>Erm</job-group>

        <job-data-map>
          <entry>
            <key>Flows</key>
            <value>flowDeliveryData.LetterSendRequest</value>
          </entry>
          <entry>
            <key>ExportInvalidObjects</key>
            <value>true</value>
          </entry>
        </job-data-map>

        <cron-expression>0 10 3 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Экспорт объектов в шину интеграции - каждый день</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции - рассылка</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 5 3 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Экспорт объектов в шину интеграции, ранее не прошедших валидацию - каждый день</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции - рассылка</job-name>
        <job-group>Erm</job-group>

        <job-data-map>
          <entry>
            <key>Flows</key>
            <value>flowDeliveryData.LetterSendRequest</value>
          </entry>
          <entry>
            <key>ExportInvalidObjects</key>
            <value>true</value>
          </entry>
        </job-data-map>

        <cron-expression>0 10 3 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
      </cron>
    </trigger>
    
  </schedule>
</job-scheduling-data>
