<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- replace application settings -->
  <appSettings>
    <add key="EnableNotifications" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableCaching" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableReplication" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironment" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironmentName" value="Production.Russia" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <!-- replace connection strings -->
  <system.web>
    <!-- enable asp.net custom errors -->
    <customErrors mode="On" xdt:Transform="SetAttributes" />
  </system.web>
  <system.webServer>
    <!-- disable directory browsing -->
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes" />
  </system.webServer>
  <system.serviceModel />
</configuration>