<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<!-- replace application settings -->
	<appSettings>
		<add key="EnableNotifications" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="EnableCaching" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="EnableReplication" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="TargetEnvironment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>

	<!-- replace connection strings -->
	<connectionStrings>
		<add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01.2gis.local;Initial Catalog=Erm06;Integrated Security=True;Application Name=ErmFinancialOperationsSvc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01.2gis.local;Initial Catalog=ErmLogging06;Integrated Security=True;Enlist=False;Application Name=ErmLoggingFinancialOperationsSvc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>

	<system.web>
		<!-- enable asp.net custom errors -->
		<customErrors mode="On"  xdt:Transform="SetAttributes" />
	</system.web>

	<system.webServer>
		<!-- disable directory browsing -->
		<directoryBrowse enabled="false" xdt:Transform="SetAttributes" />
	</system.webServer>

	<system.serviceModel>
		<client>
			<endpoint name="WsHttpBinding_IWithdrawalInfoApplicationService"
					address="https://money-distribution06.api.test.erm.russia/WithdrawalInfo.svc"
					xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		</client>
	</system.serviceModel>

</configuration>