<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TargetEnvironment" value="Development"/>
    <add key="EntryPointName" value="Qds.Migrator"/>
    <!-- возможные значения: Development, Test, Production -->
    <add key="TargetEnvironmentName" value="Dev"/>
    <add key="EnableReplication" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Erm;Integrated Security=True" />
    <add name="ErmSearch" connectionString="Host=localhost;IndexPrefix=dev;Protocol=http;HttpPort=9200;ThriftPort=9500;BatchSize=10000" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
