<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">

  <!-- overwrite existing jobs -->
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>
    
    <!--Debug Test job 
    <job>
      <name>DebugTestJob</name>
      <group>Erm</group>
      <description>DebugTestJob</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.DebugTestJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

    </job>

    <trigger>
      <simple>
        <name>Запуск DebugTestJob через simpletrigger</name>
        <group>Erm</group>

        <job-name>DebugTestJob</job-name>
        <job-group>Erm</job-group>

        <repeat-count>1</repeat-count>
        <repeat-interval>5</repeat-interval>
      </simple>
    </trigger>-->

  <!-- Generator -->
  <job>
      <name>PushFakeOperationsJob</name>
      <group>ErmInterruptable</group>
      <description>PushFakeOperationsJob</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.PushFakeOperationsJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

    </job>

    <trigger>
      <simple>
        <name>Запуск PushFakeOperationsJob через simpletrigger</name>
        <group>Erm</group>

        <job-name>PushFakeOperationsJob</job-name>
        <job-group>ErmInterruptable</job-group>

        <repeat-count>0</repeat-count>
        <repeat-interval>0</repeat-interval>
      </simple>
    </trigger>
    
  <!-- Primary Processor -->
    <job>
      <name>PerformedOperationsReceiverJob</name>
      <group>ErmInterruptable</group>
      <description>PerformedOperationsReceiverJob</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.PerformedOperationsProcessing.PerformedOperationsReceiverJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>BatchSize</key>
          <value>100</value>
        </entry>
        <entry>
          <key>Flow</key>
          <value>PrimaryReplicate2MsCRMPerformedOperationsFlow</value>
        </entry>
        <entry>
          <key>TimeSafetyOffsetHours</key>
          <value>2</value>
        </entry>
      </job-data-map>

    </job>

    <trigger>
      <simple>
        <name>Запуск PerformedOperationsReceiverJob через simpletrigger</name>
        <group>Erm</group>

        <job-name>PerformedOperationsReceiverJob</job-name>
        <job-group>ErmInterruptable</job-group>

        <repeat-count>0</repeat-count>
        <repeat-interval>0</repeat-interval>
      </simple>
    </trigger>

    <!-- Final Processor
    <job>
      <name>PerformedOperationsFinalProcessingJob</name>
        <group>Erm</group>
      <description>PerformedOperationsReceiverJob</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.PerformedOperationsProcessing.PerformedOperationsFinalProcessingJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

        <job-data-map>
          <entry>
          <key>BatchSize</key>
          <value>10</value>
        </entry>
        <entry>
            <key>Flows</key>
          <value>FinalStorageReplicate2MsCRMPerformedOperationsFlow</value>
        </entry>
        <entry>
          <key>RecoveryMode</key>
          <value>false</value>
          </entry>
        </job-data-map>
    </job>

    <trigger>
      <simple>
        <name>Запуск PerformedOperationsFinalProcessingJob через simpletrigger</name>
        <group>Erm</group>

        <job-name>PerformedOperationsFinalProcessingJob</job-name>
        <job-group>Erm</job-group>

        <repeat-count>100</repeat-count>
        <repeat-interval>1</repeat-interval>
      </simple>
    </trigger>-->

  </schedule>

</job-scheduling-data>
