<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2GIS.NuClear.IdentityService.Client" version="1.0.2" targetFramework="net451" />
  <package id="2Gis.Nuclear.Settings" version="1.0.1" targetFramework="net451" />
  <package id="2Gis.Nuclear.Settings.API" version="1.0.1" targetFramework="net451" />
  <package id="2Gis.Nuclear.Tracing.API" version="1.0.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net451" />
  <package id="Unity.Interception" version="3.5.1404.0" targetFramework="net451" />
</packages>