<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ermServicesSettings" type="DoubleGis.Erm.Platform.API.Core.Settings.APIServices.Config.Xml.ErmServiceDescriptionsConfigurationSection, 2Gis.Erm.Platform.API.Core" requirePermission="false" />
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <appSettings>
    <add key="BusinessModel" value="Russia"/>
    <add key="SignificantDigitsNumber" value="2"/>

    <add key="CachingMode" value="InProc" />
    <add key="DistributedCacheName" value="default" />

    <add key="EnableNotifications" value="false"/>
    <add key="EnableReplication" value="false"/>
    <add key="EnableElasticsearch" value="false"/>

    <add key="MsCrmIntegrationMode" value="Disabled"/>
    
    <add key="MinDebtAmount" value="-100"/>
    <add key="FileSizeLimit" value="3145728"/>
    
    <add key="OperationLoggingTargets" value="DB"/>

    <add key="TargetEnvironment" value="Development"/>
    <add key="EntryPointName" value="API.WCF.Operations"/>
    <!-- возможные значения: Development, Test, Production -->
    <add key="TargetEnvironmentName" value="Dev" />
  </appSettings>

  <connectionStrings>
		<add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=Erm42;Integrated Security=True" />
		<add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=ErmLogging42;Integrated Security=True;Enlist=False" />
		<add name="ErmReports" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ErmReports;Integrated Security=True" />
		<add name="ErmSearch" connectionString="Endpoint=localhost;IndexPrefix=dev;BatchSize=10000" />
    <add name="CrmConnection" connectionString="" />
    <add name="ErmPerformedOperationsServiceBus" connectionString="Endpoint=sb://uk-rnd-22.2gis.local/PerformedOperations;StsEndpoint=https://uk-rnd-22.2gis.local:9355/PerformedOperations;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=uNUXghDQKEDMogBvICcH/abOWh/qWx5QvCoAmLJXvYE="/>
  </connectionStrings>
  
  <ermServicesSettings>
    <ermServices>
      <ermService name="OrderValidationService" restUrl="https://localhost:44301/Validate.svc/Rest" baseUrl="https://localhost:44301" />
      <ermService name="IdentityService" restUrl="https://localhost:44303/Identity.svc/Rest" baseUrl="https://localhost:44303" />
      <ermService name="MoDiService" restUrl="https://localhost:44304" baseUrl="https://localhost:44304" />
      <ermService name="WebClientService" restUrl="https://localhost:44300" baseUrl="https://localhost:44300" />
    </ermServices>
  </ermServicesSettings>

  <dataCacheClients>
    <dataCacheClient name="default" maxConnectionsToServer="8">
      <hosts>
        <host name="localhost" cachePort="22233"/>
      </hosts>
    </dataCacheClient>
  </dataCacheClients>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="true" />
    <extensions>
      <behaviorExtensions>
        <add name="smartOperationSelector" type="DoubleGis.Erm.Platform.WCF.Infrastructure.ServiceModel.EndpointBehaviors.WebHttpOperationSelection.OperationSelectionBehaviorExtension, 2Gis.Erm.Platform.WCF.Infrastructure" />
        <add name="serviceVersioning" type="DoubleGis.Erm.Platform.WCF.Extensions.VersionBehaviorExtensionElement, 2Gis.Erm.Platform.WCF.Extensions" />
        <!--Предназначен в первую очередь для сервисов листинга, не нужен в других случаях. Его применение приводит к нестандартной (в виде строки) сериализации enum-->
        <add name="jsonResponseEndpointBehavior" type="DoubleGis.Erm.Platform.WCF.Infrastructure.ServiceModel.EndpointBehaviors.Json.JsonResponseFormatterBehaviorExtension, 2Gis.Erm.Platform.WCF.Infrastructure" />
        <add name="sharedTypesMessageInspector" type="DoubleGis.Erm.BLCore.WCF.Operations.SharedTypesMessageInspectorEndpointBehaviorExtensionElement, 2Gis.Erm.BLCore.WCF.Operations" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restEndpointBehavior">
          <webHttp />
          <smartOperationSelector />
        </behavior>
        <behavior name="restEndpointWithCustomSerializationBehavior">
          <webHttp />
          <smartOperationSelector />
          <jsonResponseEndpointBehavior />
        </behavior>
        <behavior name="sharedTypesMessageInspectorBehavior">
          <sharedTypesMessageInspector />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="defautServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDiscovery />
          <serviceVersioning />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="sslWebHttpConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="sslWebHttpStreamedRequestConfiguration" transferMode="StreamedRequest" maxReceivedMessageSize="10000000">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="sslWebHttpStreamedConfiguration" transferMode="Streamed">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="secureWsHttpConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="secureWindowsWsHttpConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
      <wsDualHttpBinding>
        <binding name="noneSslWsDualHttpConfiguration" maxReceivedMessageSize="20000000" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <security mode="Message">
            <!--<message clientCredentialType="Windows"/>-->
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.DeleteApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IDeleteApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.Delete.IDeleteApplicationRestService" />
        <endpoint kind="discoveryEndpoint" binding="wsHttpBinding" bindingConfiguration="secureWsHttpConfiguration" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.ActivateApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IActivateApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.Activate.IActivateApplicationRestService" />
        <endpoint kind="discoveryEndpoint" binding="wsHttpBinding" bindingConfiguration="secureWsHttpConfiguration" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.DeactivateApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IDeactivateApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.Deactivate.IDeactivateApplicationRestService" />
        <endpoint kind="discoveryEndpoint" binding="wsHttpBinding" bindingConfiguration="secureWsHttpConfiguration" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.AssignApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IAssignApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.Assign.IAssignApplicationRestService" />
        <endpoint name="WsHttpBinding_IAssignApplicationService_Ssl" behaviorConfiguration="" address="Soap" binding="wsHttpBinding" bindingConfiguration="secureWindowsWsHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.Assign.IAssignApplicationService" />
        <endpoint kind="discoveryEndpoint" binding="wsHttpBinding" bindingConfiguration="secureWsHttpConfiguration" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.GroupAssignApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WsDualHttpBinding_IGroupAssignApplicationService" behaviorConfiguration="" address="Soap" binding="wsDualHttpBinding" bindingConfiguration="noneSslWsDualHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.Assign.IGroupAssignApplicationService" />
        <endpoint kind="discoveryEndpoint" binding="wsHttpBinding" bindingConfiguration="secureWsHttpConfiguration" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.CheckForDebtsApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_ICheckForDebtsApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.CheckForDebts.ICheckForDebtsApplicationRestService" />
        <endpoint kind="discoveryEndpoint" binding="wsHttpBinding" bindingConfiguration="secureWsHttpConfiguration" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.CreateOrUpdateApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_ICreateOrUpdateApplicationService_Ssl" behaviorConfiguration="" address="Soap" binding="wsHttpBinding" bindingConfiguration="secureWindowsWsHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.CreateOrUpdate.ICreateOrUpdateApplicationService" />
        <endpoint name="WebHttpBinding_ICreateOrUpdateApplicationService_Ssl_Generic" behaviorConfiguration="sharedTypesMessageInspectorBehavior" address="Soap/Generic" binding="wsHttpBinding" bindingConfiguration="secureWindowsWsHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.CreateOrUpdate.ICreateOrUpdateApplicationService" />
        <endpoint kind="discoveryEndpoint" binding="wsHttpBinding" bindingConfiguration="secureWsHttpConfiguration" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.QualifyApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IQualifyApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.Qualify.IQualifyApplicationRestService" />
        <endpoint kind="discoveryEndpoint" binding="wsHttpBinding" bindingConfiguration="secureWsHttpConfiguration" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.DisqualifyApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IDisqualifyApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.Disqualify.IDisqualifyApplicationRestService" />
        <endpoint kind="discoveryEndpoint" binding="wsHttpBinding" bindingConfiguration="secureWsHttpConfiguration" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.AppendApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IAppendApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.Append.IAppendApplicationRestService" />
        <endpoint kind="discoveryEndpoint" binding="wsHttpBinding" bindingConfiguration="secureWsHttpConfiguration" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.ChangeClientApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IChangeClientApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.ChangeClient.IChangeClientApplicationRestService" />
        <endpoint kind="discoveryEndpoint" binding="wsHttpBinding" bindingConfiguration="secureWsHttpConfiguration" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.ChangeTerritoryApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IChangeTerritoryApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.ChangeTerritory.IChangeTerritoryApplicationRestService" />
        <endpoint kind="discoveryEndpoint" binding="wsHttpBinding" bindingConfiguration="secureWsHttpConfiguration" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.ActionsHistoryApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IActionsHistoryApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.ActionsHistory.IActionsHistoryApplicationRestService" />
        <endpoint kind="discoveryEndpoint" binding="wsHttpBinding" bindingConfiguration="secureWsHttpConfiguration" />
      </service>
      <service name="DoubleGis.Erm.BLQuerying.WCF.Operations.Listing.ListApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IListApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpConfiguration" contract="DoubleGis.Erm.BLQuerying.API.Operations.Listing.Remote.List.IListApplicationRestService" />
        <endpoint name="WSHttpBinding_IListApplicationService_Secure" behaviorConfiguration="" address="Soap" binding="wsHttpBinding" bindingConfiguration="secureWindowsWsHttpConfiguration" contract="DoubleGis.Erm.BLQuerying.API.Operations.Listing.Remote.List.IListApplicationService" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.GetDomainEntityDtoApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IGetDomainEntityDtoApplicationService_Ssl" behaviorConfiguration="" address="Soap" binding="wsHttpBinding" bindingConfiguration="secureWindowsWsHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.GetDomainEntityDto.IGetDomainEntityDtoApplicationService" />
        <endpoint name="WebHttpBinding_IGetDomainEntityDtoApplicationService_Ssl_Generic" behaviorConfiguration="sharedTypesMessageInspectorBehavior" address="Soap/Generic" binding="wsHttpBinding" bindingConfiguration="secureWindowsWsHttpConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.GetDomainEntityDto.IGetDomainEntityDtoApplicationService" />
        <endpoint kind="discoveryEndpoint" binding="wsHttpBinding" bindingConfiguration="secureWsHttpConfiguration" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.DownloadBinaryApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IDownloadBinaryApplicationRestService_Ssl" behaviorConfiguration="restEndpointBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpStreamedConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.DownloadBinary.IDownloadBinaryApplicationRestService" />
      </service>
      <service name="DoubleGis.Erm.BLCore.WCF.Operations.UploadBinaryApplicationService" behaviorConfiguration="defautServiceBehavior">
        <endpoint name="WebHttpBinding_IUploadBinaryApplicationRestService_Ssl" behaviorConfiguration="restEndpointWithCustomSerializationBehavior" address="Rest" binding="webHttpBinding" bindingConfiguration="sslWebHttpStreamedRequestConfiguration" contract="DoubleGis.Erm.BLCore.API.Operations.Remote.UploadBinary.IUploadBinaryApplicationRestService" />
      </service>
    </services>
    <client />
    <!--
    <diagnostics>
        <messageLogging
          logEntireMessage="true"
          logMalformedMessages="true"
          logMessagesAtServiceLevel="true"
          logMessagesAtTransportLevel="true"
          maxMessagesToLog="3000"
          maxSizeOfMessageToLog="200000"/>
    </diagnostics>-->
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="https://localhost:44300" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
      </customHeaders>
    </httpProtocol>

    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
  <system.diagnostics>
      <sources>
        <source name="System.ServiceModel"
                switchValue="Information, ActivityTracing"
                propagateActivity="true">
          <listeners>
            <add name="traceListener"
                type="System.Diagnostics.XmlWriterTraceListener"
                initializeData= "d:\TracesWCF.svclog" />
          </listeners>
        </source>
      </sources>
    </system.diagnostics>-->
  <!-- Комментарий по управлению timeout транзакций.
  В инфраструктуре транзакций .net - system.transactions (её использует например, transactionscope, entityframework и т.п.) есть два основных понятия
    1). Запрошенный timeout (либо явно при создании транзакции, команды и т.п., либо используется значение по умолчанию)
    2). Max допустимый timeout
  Т.о. результирующих timeout транзакции будет выставлен, в запрошенный, но не выше max допустимого. 
    Default timeout по умолчанию 1 минута. 
    Max timeout по умолчанию 10 минут.
  Управление значениями timeout производится, либо из кода, либо через иерархию config файлов .NET, причем maxTimeout можно указывать, 
  только через config файлы (если не использовать всякие хаки через reflection и TransactionManager).
  В ERM большинство бизнес транзакций (явно создаваемых через transactionscope и т.п.) явно указывает timeout как бесконечный,
  большинство не явных транзакций/команд выполняемых entityframework, имеет timeout по умолчанию, 
  однако, есть механизмы usecaseduration и т.п. - когда для определенных usecase timeout значительно повышается.
  Вот в случае значительного повышения важно помнить, что есть ещё и maxTimeout, который ограничивает возможности приложения.
  Т.о. чтобы стали возможными долгие транзакции (например, usecase сборки, проверки заказов и т.п.) - необходимо не только из кода запросить нужное значение timeout, 
  но и соответствующим образом настроить значение maxtimeout.
  Настроить это значение можно несколькими способами:
    1). в machine.config нужной версии .NET добавить секцию вида:
      <system.transactions>
        <defaultSettings timeout="00:01:00" />
        <machineSettings maxTimeout="02:00:00" />
      </system.transactions>
      Это повлияет на все .NET процессы на компьютере.
      Этот вариант сейчас используется на production (maxtimeout выставлен в 2 часа). Минус очевиден - влияение на все .net процессы, которые не обязательно используют snapshot isolation level,
      а, значит, и возможность deadlock у них может быть выше - т.е. такой вариант более менее корректен, если на компьютере исполняются только точно контроллируемые приложения.
    2). в machine.config нужной версии .NET, найти настройки для секции system.transactions вида:
    <sectionGroup name="system.transactions" type="System.Transactions.Configuration.TransactionsSectionGroup, System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null">
        <section name="defaultSettings" type="System.Transactions.Configuration.DefaultSettingsSection, System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
        <section name="machineSettings" type="System.Transactions.Configuration.MachineSettingsSection, System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" allowDefinition="MachineToApplication" allowExeDefinition="MachineToApplication"/>
    </sectionGroup>
    где, нужно изменить значения атрибутов:
        allowDefinition="MachineOnly" (для хостящихся в IIS процесов .NET - ASP.NET и т.п.) -> allowDefinition="MachineToApplication"
        allowExeDefinition="MachineOnly" (для standalone приложение windowsservices, desktop, console и т.п.) -> allowExeDefinition="MachineToApplication"
    а в конфиг файл целевого приложения (App.config, web.config и т.п.) уже добавить секцию:    
    <system.transactions>
      <defaultSettings timeout="00:01:00" />
      <machineSettings maxTimeout="02:00:00" />
    </system.transactions>
    Т.о. настройки maxTimeout изменяться не для всех процессов .NET, а только для тех, для которых это реально нужно.
    Сейчас, используется вариант 1 - т.к. с него все началось, да и вариант 2 все равно требует внесения изменений в machine.config
  -->
</configuration>