<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2GIS.NuClear.Security.API" version="1.0.1" targetFramework="net451" />
  <package id="2GIS.NuClear.Settings.API" version="1.0.2" targetFramework="net451" />
  <package id="2GIS.NuClear.Tracing.API" version="1.0.2" targetFramework="net451" />
  <package id="FluentValidation-Signed" version="3.4.6.0" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.14" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="RestSharpSigned" version="104.1" targetFramework="net451" />
  <package id="ValueInjecter" version="2.3.3" targetFramework="net451" />
</packages>