<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <ModuleContainerSettings>
    <ApiSettings>

      <TargetEnvironment value="Test" xdt:Transform="SetAttributes" />
      <TargetEnvironmentName value="Test.06" xdt:Transform="SetAttributes" />
      <ApiUrl value="https://basic-operations06.api.test.erm.russia" xdt:Transform="SetAttributes" />
      
    </ApiSettings>
  </ModuleContainerSettings>

  <system.serviceModel>
    <client>
      <endpoint name="IMetadataProviderApplicationService"
                address="http://metadata40.api.uk-erm-test05.2gis.local/Metadata.svc/Soap"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="IMetadataProviderApplicationServiceSecure"
                address="https://metadata40.api.uk-erm-test05.2gis.local/Metadata.svc/Soap"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="ICreateOrUpdateApplicationServiceSecure"
                address="https://basic-operations40.api.uk-erm-test05.2gis.local/CreateOrUpdate.svc/Soap"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="IListApplicationServiceSecure"
                address="https://basic-operations40.api.uk-erm-test05.2gis.local/List.svc/Soap"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="IGetDomainEntityDtoApplicationServiceSecure"
                address="https://basic-operations40.api.uk-erm-test05.2gis.local/GetDomainEntityDto.svc/Soap"
                xdt:Transform="SetAttributes" 
                xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
  
</configuration>