<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ermServicesSettings" type="DoubleGis.Erm.Platform.API.Core.Settings.APIServices.ErmServiceDescriptionsConfigurationSection, 2Gis.Erm.Platform.API.Core" requirePermission="false"/>
  </configSections>
  
    <appSettings>
      <add key="ReserveUserAccount" value="reserve"/>

      <add key="EnableNotifications" value="false"/>
      <add key="EnableCaching" value="true"/>
      <add key="EnableReplication" value="false"/>
      <add key="CreationOrderRequestsEnabled" value="false"/>

      <add key="WarmClientDaysCount" value="14"/>
      <add key="SignificantDigitsNumber" value="2"/>
      <add key="MinDebtAmount" value="-100"/>
      <add key="OrderRequestProcessingHoursAmount" value="2"/>

      <add key="BasicLanguage" value="ru" />
      <add key="ReserveLanguage" value="en" />
      <add key="BusinessModel" value="Russia"/>

      <add key="TargetEnvironment" value="Development"/>
      <!-- возможные значения: Development, Test, Production -->
      <add key="EntryPointName" value="Tests.API.Operations.InProc" />
      <add key="TargetEnvironmentName" value="Dev" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>