<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="1.2.0" targetFramework="net451" />
  <package id="FluentAssertions" version="3.0.107" targetFramework="net45" />
  <package id="Machine.Specifications-Signed" version="0.8.2" targetFramework="net451" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net45" />
  <package id="NCrunch.Framework" version="2.4.0.2" targetFramework="net451" />
  <package id="NEST" version="1.2.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="2Gis.Nuclear.Settings.API" version="1.0.1" targetFramework="net451" />
</packages>