<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <system.web>
  
      <!-- allow anonymous -->
      <authorization>
        <allow users="?" />
      </authorization>
      
    </system.web>

  <system.webServer>
    
    <!-- кеширование статических ресурсов -->
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" httpExpires="" cacheControlMaxAge="30.00:00:00" />
    </staticContent>

    <urlCompression doStaticCompression="true" />

  </system.webServer>
  
</configuration>
