<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WsHttpBinding_IMsCrm2ErmApplicationService_Ssl">
                  <security mode="Transport">
                    <transport clientCredentialType="Windows"/>
                  </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44302/MsCrm.svc/Soap" binding="wsHttpBinding"
                bindingConfiguration="WsHttpBinding_IMsCrm2ErmApplicationService_Ssl"
                contract="ErmServiceReference.IMsCrm2ErmApplicationService"
                name="WsHttpBinding_IMsCrm2ErmApplicationService_Ssl">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>