<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- replace application settings -->
  <appSettings>
    <add key="EnableNotifications" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableCaching" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableReplication" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableIntegration" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IntegrationApplicationName" value="ERM07" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Резервный вариант интеграции с экспортом -->
    <add key="FtpExportSite" value="ftp://testftp.2gis.local/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FtpExportSiteUsername" value="UK.TestFTP.Full" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FtpExportSitePassword" value="Angcthdbc07" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironmentName" value="Test.07" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <!-- replace connection strings -->
  <system.serviceModel>
    <client>
      <!-- service bus broker -->
      <endpoint name="NetTcpBinding_IBrokerApiSender" address="net.tcp://uk-erm-sql.2gis.local:8083/BrokerApiService" binding="netTcpBinding" bindingConfiguration="netTcpConfiguration" contract="DoubleGis.Erm.Platform.API.ServiceBusBroker.IBrokerApiSender">
        <identity>
          <servicePrincipalName value="host/uk-erm-sql.2gis.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web>
    <!-- enable asp.net custom errors -->
    <customErrors mode="On" xdt:Transform="SetAttributes" />
  </system.web>
  <system.webServer>
    <!-- disable directory browsing -->
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes" />
  </system.webServer>
</configuration>