<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- replace application settings -->
  <appSettings>
    <add key="MsCrmIntegrationMode" value="Disabled" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableElasticsearch" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="CachingMode" value="Distributed" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DistributedCacheName" value="ErmCL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="EnableIntegration" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IntegrationApplicationName" value="ERM.CL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServer" value="http://uk-rpt.2gis.local/ReportServer/Pages/ReportViewer.aspx?/ERM_ENG" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SupportUrl" value="mailto:support@2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="EnableNotifications" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironment" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TargetEnvironmentName" value="Production.Chile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="JobStoreType" value="TX" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SchedulerName" value="TaskService.Scheduler.Production.Chile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="IdentityServiceUniqueId" value="194" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BasicLanguage" value="es" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReserveLanguage" value="en" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessModel" value="Chile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="RegionalTerritoryLocaleSpecificWord" value="Territorio regional" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="MaxWorkingThreads" value="5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UseWarehouseIntegration" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="OperationLoggingTargets" value="DB" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="IdentityServiceUrl" value="http://identity.api.prod.erm.2gis.ru"/>
  </appSettings>

  <!-- replace connection strings -->

  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql20\erm;Initial Catalog=ErmCL;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ErmValidation" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql20\erm;Initial Catalog=ErmCL;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ErmReports" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql20\erm;Initial Catalog=ErmReports;Integrated Security=True;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CrmConnection" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql20\erm;Initial Catalog=ErmLoggingCL;Integrated Security=True;Enlist=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ErmSearch" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="ErmInfrastructure" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql20\erm;Initial Catalog=ErmInfrastructure;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <ermServicesSettings>
    <ermServices>
      <ermService name="IntrospectionService" restUrl="https://metadata.api.prod.erm.2gis.cl/Metadata.svc/Rest" baseUrl="https://metadata.api.prod.erm.2gis.cl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="OrderValidationService" restUrl="https://order-validation.api.prod.erm.2gis.cl/Validate.svc/Rest" baseUrl="https://order-validation.api.prod.erm.2gis.cl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      
      <ermService name="BasicOperationsService" restUrl="https://basic-operations.api.prod.erm.2gis.cl" baseUrl="https://basic-operations.api.prod.erm.2gis.cl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="MoDiService" restUrl="https://money-distribution.api.prod.erm.2gis.cl" baseUrl="https://money-distribution.api.prod.erm.2gis.cl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="SpecialOperationsService" restUrl="https://financial-operations.api.prod.erm.2gis.cl" baseUrl="https://financial-operations.api.prod.erm.2gis.cl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="RealeasingService" restUrl="https://releasing.api.prod.erm.2gis.cl" baseUrl="https://releasing.api.prod.erm.2gis.cl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="WebClientService" restUrl="https://web-app.erm.2gis.cl" baseUrl="https://web-app.erm.2gis.cl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </ermServices>
  </ermServicesSettings>

  <dataCacheClients xdt:Transform="Replace">
    <dataCacheClient name="default" maxConnectionsToServer="8">
      <hosts>
        <host name="uk-erm-iis04" cachePort="22233"/>
        <host name="uk-erm-iis02" cachePort="22233"/>
        <host name="uk-erm-iis03" cachePort="22233"/>
        <host name="uk-erm-arr02" cachePort="22233"/>
      </hosts>
    </dataCacheClient>
  </dataCacheClients>

  <system.web>
    <!-- enable asp.net custom errors -->
    <customErrors mode="On" xdt:Transform="SetAttributes" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes" />
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="CanonicalHostNameRule" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^erm\.2gis\.cl$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://erm.2gis.cl/{R:1}" redirectType="Found" />
        </rule>
        <rule name="RedirectToHttpsRule" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="^erm\.2gis\.cl$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{URL}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <!-- Web app-->
        <add name="Access-Control-Allow-Origin" value="https://basic-operations.api.prod.erm.2gis.cl" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='UI.Web.Mvc']])" />
        <!-- Metadata svc-->
        <add name="Access-Control-Allow-Origin" value="https://web-app.prod.erm.2gis.cl" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='API.WCF.Metadata']])" />
        <!-- Operations svc-->
        <add name="Access-Control-Allow-Origin" value="https://web-app.prod.erm.2gis.cl" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='API.WCF.Operations']])" />
        <!-- Operations.Special svc-->
        <add name="Access-Control-Allow-Origin" value="https://web-app.prod.erm.2gis.cl" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='API.WCF.Operations.Special']])" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint name="NetTcpBinding_IBrokerApiSender" address="net.tcp://uk-busdgpp01.2gis.local:8091/BrokerApiService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity xdt:Transform="Replace">
          <userPrincipalName value="Uk.Bus.Service@2gis.local"/>
        </identity>
      </endpoint>

      <endpoint name="NetTcpBinding_IBrokerApiReceiver" address="net.tcp://uk-busdgpp01.2gis.local:8091/BrokerApiService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity xdt:Transform="Replace">
          <userPrincipalName value="Uk.Bus.Service@2gis.local"/>
        </identity>
      </endpoint>

      <endpoint name="BasicHttpEndpoint_GeoMasterApi" address="http://uk-map-gm01.2gis.local/GeoMasterApi/Map2Gis.Service.MasterSystemApi.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>