<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="OperationLoggingTargets" value="DB;Queue" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <!-- Такая трансформация применяется только в исключительных случаях, так как производит вставку во все конфиги вне зависимости от наличия нужного пути -->
  <system.serviceModel xdt:Transform="InsertIfMissing">
    <bindings xdt:Transform="InsertIfMissing">

      <wsHttpBinding xdt:Transform="InsertIfMissing">

        <binding name="nonSslWsHttpConfiguration" maxReceivedMessageSize="10000000" receiveTimeout="01:00:00" sendTimeout="01:00:00"  xdt:Transform="InsertIfMissing" >
          <security mode="None" />
          <reliableSession enabled="true"/>
        </binding>

      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint name="NetTcpBinding_IBrokerApiSender" binding="wsHttpBinding" bindingConfiguration="nonSslWsHttpConfiguration" address="http://fake-bus08.api.test.erm.2gis.ru/BrokerApiService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity xdt:Transform="Remove">
          <servicePrincipalName value="host/uk-bus-test02.2gis.local" xdt:Transform="SetAttributes" />
        </identity>
      </endpoint>
      <endpoint name="NetTcpBinding_IBrokerApiReceiver" binding="wsHttpBinding" bindingConfiguration="nonSslWsHttpConfiguration" address="http://fake-bus08.api.test.erm.2gis.ru/BrokerApiService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity xdt:Transform="Remove">
          <servicePrincipalName value="host/uk-bus-test02.2gis.local" xdt:Transform="SetAttributes" />
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>
</configuration>