<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- replace application settings -->
  <appSettings>
    <add key="MsCrmIntegrationMode" value="Full" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableElasticsearch" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="CachingMode" value="InProc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DistributedCacheName" value="default" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="EnableIntegration" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IntegrationApplicationName" value="ERM" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ReportServer" value="http://uk-erm-edu01/ReportServer/Pages/ReportViewer.aspx?/Edu.Russia" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="EnableNotifications" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TargetEnvironment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TargetEnvironmentName" value="Edu.Russia" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="SchedulerName" value="TaskService.Scheduler.Edu.Russia" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RegionalTerritoryLocaleSpecificWord" value="Региональная территория" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableRabbitMqQueue" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MaxWorkingThreads" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>


  <!-- replace connection strings -->

  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-edu01;Initial Catalog=ErmRU;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmRabbitMq" connectionString="Hostname=mq.test;Port=5672;VirtualHost=erm01;UserName=erm;Password=LeoYee5y" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmValidation" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-edu01;Initial Catalog=ErmRU;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmReports" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-edu01;Initial Catalog=ErmReports;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmSearch" connectionString="Endpoint=uk-sql01;Protocol=thrift;IndexPrefix=Edu.Russia;BatchSize=10000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CrmConnection" providerName="" connectionString="Authentication Type=Integrated; Server=http://uk-erm-edu01/DoubleGis" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-edu01;Initial Catalog=ErmLoggingRU;Integrated Security=True;Enlist=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="QuartzJobStore" providerName="SqlServer-20" connectionString="Server=uk-erm-edu01;Database=Quartz;Trusted_Connection=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <ermServicesSettings>
    <ermServices>
      <ermService name="IntrospectionService" restUrl="https://metadata.api.edu.erm.2gis.ru/Metadata.svc/Rest" baseUrl="https://metadata.api.edu.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="OrderValidationService" restUrl="https://order-validation.api.edu.erm.2gis.ru/Validate.svc/Rest" baseUrl="https://order-validation.api.edu.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="IdentityService" restUrl="https://metadata.api.edu.erm.2gis.ru/Identity.svc/Rest" baseUrl="https://metadata.api.edu.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="BasicOperationsService" restUrl="https://basic-operations.api.edu.erm.2gis.ru" baseUrl="https://basic-operations.api.edu.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="MoDiService" restUrl="https://money-distribution.api.edu.erm.2gis.ru" baseUrl="https://money-distribution.api.edu.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="FinancialOperationsService" restUrl="https://financial-operations.api.edu.erm.2gis.ru" baseUrl="https://financial-operations.api.edu.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="RealeasingService" restUrl="https://releasing.api.edu.erm.2gis.ru" baseUrl="https://releasing.api.edu.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="WebClientService" restUrl="https://web-app.edu.erm.2gis.ru" baseUrl="https://web-app.edu.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </ermServices>
  </ermServicesSettings>

  <dataCacheClients xdt:Transform="Replace">
    <dataCacheClient name="default" maxConnectionsToServer="8">
      <hosts>
        <host name="uk-erm-iis04" cachePort="22233"/>
        <host name="uk-erm-iis05" cachePort="22233"/>
        <host name="uk-erm-sql01" cachePort="22233"/>
      </hosts>
    </dataCacheClient>
  </dataCacheClients>

  <system.web>
    <!-- enable asp.net custom errors -->
    <customErrors mode="On" xdt:Transform="SetAttributes" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes" />
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="CanonicalHostNameRule" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^web-app\.edu\.erm\.2gis\.ru$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://web-app.edu.erm.2gis.ru/{R:1}" redirectType="Found" />
        </rule>
        <rule name="RedirectToHttpsRule" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="^web-app\.edu\.erm\.2gis\.ru$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{URL}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <!-- Web app-->
        <add name="Access-Control-Allow-Origin" value="https://basic-operations.api.edu.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='UI.Web.Mvc']])" />
        <!-- Metadata svc-->
        <add name="Access-Control-Allow-Origin" value="https://web-app.edu.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='API.WCF.Metadata']])" />
        <!-- Operations svc-->
        <add name="Access-Control-Allow-Origin" value="https://web-app.edu.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='API.WCF.Operations']])" />
        <!-- Operations.Special svc-->
        <add name="Access-Control-Allow-Origin" value="https://web-app.edu.erm.2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='API.WCF.Operations.Special']])" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint name="BasicHttpEndpoint_GeoMasterApi"
          address="http://uk-map-gm01.2gis.local/GeoMasterApi/Map2Gis.Service.MasterSystemApi.svc"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>