<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-test06.2gis.local;Initial Catalog=Erm{EnvNum};Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ErmValidation" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-test06.2gis.local;Initial Catalog=Erm{EnvNum};Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ErmReports" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-test06.2gis.local;Initial Catalog=ErmReports{EnvNum};Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=uk-erm-test06.2gis.local;Initial Catalog=ErmLogging{EnvNum};Integrated Security=True;Enlist=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>    
  </connectionStrings>
</configuration>