<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- replace application settings -->
  <appSettings>
    <add key="MsCrmIntegrationMode" value="Disabled" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableElasticsearch" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="CachingMode" value="Distributed" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DistributedCacheName" value="ErmCY" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="EnableIntegration" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IntegrationApplicationName" value="ERMLOADCYPRUS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServer" value="http://uk-test-sql01/ReportServer/Pages/ReportViewer.aspx?/Load.Cyprus" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SupportUrl" value="mailto:support@2gis.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="EnableNotifications" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TargetEnvironmentName" value="Load.Cyprus" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="JobStoreType" value="TX" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SchedulerName" value="TaskService.Scheduler.Load.Cyprus" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="BasicLanguage" value="en" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessModel" value="Cyprus" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RegionalTerritoryLocaleSpecificWord" value="Regional territory" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="MaxWorkingThreads" value="5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UseWarehouseIntegration" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <!-- replace connection strings -->

  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-test-sql01;Initial Catalog=ErmCY;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmValidation" providerName="System.Data.SqlClient" connectionString="Data Source=uk-test-sql01;Initial Catalog=ErmCY;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmReports" providerName="System.Data.SqlClient" connectionString="Data Source=uk-test-sql01;Initial Catalog=ErmReports;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="CrmConnection" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="ErmLogging" providerName="System.Data.SqlClient" connectionString="Data Source=uk-test-sql01;Initial Catalog=ErmLoggingCY;Integrated Security=True;Enlist=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ErmSearch" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="ErmInfrastructure" providerName="System.Data.SqlClient" connectionString="Data Source=uk-test-sql01;Initial Catalog=ErmInfrastructure;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <ermServicesSettings>
    <ermServices>
      <ermService name="IntrospectionService" restUrl="https://metadata.api.load.erm.2gis.com.cy/Metadata.svc/Rest" baseUrl="https://metadata.api.load.erm.2gis.com.cy" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="OrderValidationService" restUrl="https://order-validation.api.load.erm.2gis.com.cy/Validate.svc/Rest" baseUrl="https://order-validation.api.load.erm.2gis.com.cy" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="IdentityService" restUrl="https://metadata.api.load.erm.2gis.com.cy/Identity.svc/Rest" baseUrl="https://metadata.api.load.erm.2gis.com.cy" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="BasicOperationsService" restUrl="https://basic-operations.api.load.erm.2gis.com.cy" baseUrl="https://basic-operations.api.load.erm.2gis.com.cy" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="MoDiService" restUrl="https://money-distribution.api.load.erm.2gis.com.cy" baseUrl="https://money-distribution.api.load.erm.2gis.com.cy" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="SpecialOperationsService" restUrl="https://financial-operations.api.load.erm.2gis.com.cy" baseUrl="https://financial-operations.api.load.erm.2gis.com.cy" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="RealeasingService" restUrl="https://releasing.api.load.erm.2gis.com.cy" baseUrl="https://releasing.api.load.erm.2gis.com.cy" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <ermService name="WebClientService" restUrl="https://web-app.load.erm.2gis.com.cy" baseUrl="https://web-app.load.erm.2gis.com.cy" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </ermServices>
  </ermServicesSettings>

  <dataCacheClients xdt:Transform="Replace">
    <dataCacheClient name="default" maxConnectionsToServer="2">
      <hosts>
        <host name="uk-erm-iis10" cachePort="22233"/>
        <host name="uk-erm-iis11" cachePort="22233"/>
        <host name="uk-erm-iis12" cachePort="22233"/>
        <host name="uk-erm-arr11" cachePort="22233"/>
      </hosts>
    </dataCacheClient>
  </dataCacheClients>

  <system.web>
    <!-- enable asp.net custom errors -->
    <customErrors mode="On" xdt:Transform="SetAttributes" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes" />
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="CanonicalHostNameRule" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^web-app\.load\.erm\.2gis\.com\.cy$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://web-app.load.erm.2gis.com.cy/{R:1}" redirectType="Found" />
        </rule>
        <rule name="RedirectToHttpsRule" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="^web-app\.load\.erm\.2gis\.com\.cy$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{URL}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <!-- Web app-->
        <add name="Access-Control-Allow-Origin" value="https://basic-operations.api.load.erm.2gis.com.cy" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='UI.Web.Mvc']])" />
        <!-- Metadata svc-->
        <add name="Access-Control-Allow-Origin" value="https://web-app.load.erm.2gis.com.cy" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='API.WCF.Metadata']])" />
        <!-- Operations svc-->
        <add name="Access-Control-Allow-Origin" value="https://web-app.load.erm.2gis.com.cy" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='API.WCF.Operations']])" />
        <!-- Operations.Special svc-->
        <add name="Access-Control-Allow-Origin" value="https://web-app.load.erm.2gis.com.cy" xdt:Transform="SetAttributes" xdt:Locator="Condition([@name='Access-Control-Allow-Origin' and /configuration/appSettings/add[@key='EntryPointName' and @value='API.WCF.Operations.Special']])" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <client>
    </client>
  </system.serviceModel>
</configuration>