<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint name="NetTcpBinding_IBrokerApiSender" binding="wsHttpBinding" bindingConfiguration="nonSslWsHttpConfiguration" address="http://fake-bus08.api.test.erm.2gis.ru/BrokerApiService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity xdt:Transform="Remove">
          <servicePrincipalName value="host/uk-bus-test02.2gis.local" xdt:Transform="SetAttributes" />
        </identity>
      </endpoint>
      <endpoint name="NetTcpBinding_IBrokerApiReceiver" binding="wsHttpBinding" bindingConfiguration="nonSslWsHttpConfiguration" address="http://fake-bus08.api.test.erm.2gis.ru/BrokerApiService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity xdt:Transform="Remove">
          <servicePrincipalName value="host/uk-bus-test02.2gis.local" xdt:Transform="SetAttributes" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>