<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">

  <!-- overwrite existing jobs -->
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>

    <!-- ******************** -->
    <!-- Рассылка уведомлений -->
    <!-- ******************** -->

    <!-- Рассылка уведомлений -->
    <job>
      <name>Рассылка уведомлений</name>
      <group>Erm</group>
      <description>Рассылка уведомлений</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.ProcessNotifications, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <cron>
        <name>Рассылка уведомлений - каждую минуту</name>
        <group>Erm</group>
        <job-name>Рассылка уведомлений</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- ************************************* -->
    <!-- Работа с локальной очередью сообщений -->
    <!-- ************************************* -->

    <!-- Обработка сообщений локальной очереди -->
    <job>
      <name>Обработка сообщений локальной очереди</name>
      <group>Erm</group>
      <description>Обработка сообщений локальной очереди</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.LocalMessages.ProcessLocalMessages, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>RunAs</key>
          <value>Integration</value>
        </entry>
      </job-data-map>

    </job>
    <trigger>
      <cron>
        <name>Обработка сообщений локальной очереди - каждую минуту</name>
        <group>Erm</group>
        <job-name>Обработка сообщений локальной очереди</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- Проверка локальной очереди на зависшие сообщения -->
    <job>
      <name>Проверка локальной очереди на зависшие сообщения</name>
      <group>Erm</group>
      <description>Проверка локальной очереди на зависшие сообщения</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.LocalMessages.ReprocessLocalMessages, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <!-- Число минут для определения зависших сообщений -->
      <job-data-map>
        <entry>
          <key>PeriodInMinutes</key>
          <value>60</value>
        </entry>
      </job-data-map>

    </job>
    <trigger>
      <cron>
        <name>Проверка локальной очереди на зависшие сообщения - каждую минуту</name>
        <group>Erm</group>
        <job-name>Проверка локальной очереди на зависшие сообщения</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- ************************* -->
    <!-- Работа с шиной интеграции -->
    <!-- ************************* -->

    <!-- Импорт объектов из шины интеграции -->
    <!-- Возможные значения для Flows: flowPhoneZones;flowRubrics;flowGeography;flowCards;flowCardsForERM;flowGeoClassifier;flowFinancialData1C;flowStickers;flowBilling;flowAdvModelsInfo -->
    <job>
      <name>Импорт объектов из шины интеграции - справочники</name>
      <group>Erm</group>
      <description>Импорт объектов из шины интеграции</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.ServiceBus.ImportObjectsJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>RunAs</key>
          <value>Integration</value>
        </entry>
        <entry>
          <key>Flows</key>
          <value>flowPhoneZones;flowRubrics;flowGeography;flowCards;flowCardsForERM;flowGeoClassifier;flowAdvModelsInfo</value>
        </entry>
        <entry>
          <key>PregeneratedIdsAmount</key>
          <value>3000</value>
        </entry>
      </job-data-map>

    </job>
    
    <trigger>
      <cron>
        <name>Импорт объектов из шины интеграции - каждую минуту - справочники</name>
        <group>Erm</group>
        <job-name>Импорт объектов из шины интеграции - справочники</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
        
      </cron>
    </trigger>

    <job>
      <name>Импорт объектов из шины интеграции - финансовые</name>
      <group>Erm</group>
      <description>Импорт объектов из шины интеграции</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.ServiceBus.ImportObjectsJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>RunAs</key>
          <value>Integration</value>
        </entry>
        <entry>
          <key>Flows</key>
          <value>flowStickers;flowFinancialData1C;flowBilling</value>
        </entry>
        <entry>
          <key>PregeneratedIdsAmount</key>
          <value>3000</value>
        </entry>
      </job-data-map>

    </job>

    <trigger>
      <cron>
        <name>Импорт объектов из шины интеграции - каждую минуту - финансовые</name>
        <group>Erm</group>
        <job-name>Импорт объектов из шины интеграции - финансовые</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- Экспорт объектов в шину интеграции -->
    <!-- Возможные значения для Flows: flowOrders.DenialReason;flowOrders.AdvMaterial;flowOrders.Order;flowNomenclatures.NomenclatureElement;flowNomenclatures.NomenclatureElementRelation;flowPriceLists.PriceList;flowPriceLists.PriceListPosition;flowOrders.Invoice;flowOrders.Resource;flowOrders.Theme;flowOrders.ThemeBranch;flowFinancialData.LegalEntity;flowCardExtensions.CardCommercial;flowFinancialData.Client;MsCrm.HotClient;flowFinancialData.DebitsInfoInitial -->

    <!-- Экспорт производственных объектов -->
    <job>
      <name>Экспорт объектов в шину интеграции - Производственные</name>
      <group>Erm</group>
      <description>Экспорт объектов в шину интеграции - Производственные</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.ServiceBus.ExportObjectsJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>Flows</key>
          <value>flowOrders.DenialReason;flowOrders.AdvMaterial;flowFinancialData.LegalEntity;flowOrders.Order;flowOrders.Invoice;</value>
        </entry>
        <entry>
          <key>OperationCount</key>
          <value>500</value>
        </entry>
        <entry>
          <key>EntityCount</key>
          <value>300</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>Экспорт производственных объектов в шину интеграции - каждые 20 секунд</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции - Производственные</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0/20 * * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- Экспорт объектов в шину интеграции, ранее не прошедших валидацию-->
    <job>
      <name>Экспорт объектов в шину интеграции, ранее не прошедших валидацию</name>
      <group>Erm</group>
      <description>Экспорт объектов в шину интеграции, ранее не прошедших валидацию</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.ServiceBus.ExportObjectsJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>Flows</key>
          <value>flowOrders.DenialReason;flowOrders.AdvMaterial;flowOrders.Resource;flowOrders.Theme;flowOrders.ThemeBranch;flowFinancialData.LegalEntity;flowOrders.Order;flowNomenclatures.NomenclatureElement;flowNomenclatures.NomenclatureElementRelation;flowPriceLists.PriceList;flowPriceLists.PriceListPosition;flowOrders.Invoice;flowFinancialData.Client</value>
        </entry>
        <entry>
          <key>ExportInvalidObjects</key>
          <value>true</value>
        </entry>
        <entry>
          <key>EntityCount</key>
          <value>300</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <cron>
        <name>Экспорт объектов в шину интеграции, ранее не прошедших валидацию - каждый час</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции, ранее не прошедших валидацию</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0 0/1 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Экспорт кртичных объектов в шину интеграции, ранее не прошедших валидацию - каждые 5 минут во время сборки</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции, ранее не прошедших валидацию</job-name>
        <job-group>Erm</job-group>

        <job-data-map>
          <entry>
            <key>Flows</key>
            <value>flowOrders.Order;flowOrders.Invoice</value>
          </entry>
        </job-data-map>

        <cron-expression>0 0/5 * 25-31 * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- Экспорт финансовых объектов -->
    <job>
      <name>Экспорт объектов в шину интеграции - Финансовые</name>
      <group>Erm</group>
      <description>Экспорт объектов в шину интеграции - Финансовые</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.ServiceBus.ExportObjectsJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>Flows</key>
          <value>flowNomenclatures.NomenclatureElement;flowNomenclatures.NomenclatureElementRelation;flowPriceLists.PriceList;flowPriceLists.PriceListPosition;flowFinancialData.Client;flowFinancialData.DebitsInfoInitial</value>
        </entry>
        <entry>
          <key>OperationCount</key>
          <value>500</value>
        </entry>
        <entry>
          <key>EntityCount</key>
          <value>300</value>
        </entry>
      </job-data-map>

    </job>

    <trigger>
      <cron>
        <name>Экспорт финансовых объектов в шину интеграции - каждую минуту</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции - Финансовые</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- Экспорт тематик -->
    <job>
      <name>Экспорт объектов в шину интеграции - Тематики</name>
      <group>Erm</group>
      <description>Экспорт объектов в шину интеграции - Тематики</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.ServiceBus.ExportObjectsJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>Flows</key>
          <value>flowOrders.Resource;flowOrders.Theme;flowOrders.ThemeBranch</value>
        </entry>
        <entry>
          <key>OperationCount</key>
          <value>200</value>
        </entry>
        <entry>
          <key>EntityCount</key>
          <value>300</value>
        </entry>
      </job-data-map>

    </job>

    <trigger>
      <cron>
        <name>Экспорт объектов, связанных с тематиками, в шину интеграции - каждые 10 минут</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции - Тематики</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/10 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- ************************* -->
    <!-- Поздравление с днем рождения -->
    <!-- ************************* -->
    <!-- Добавление события поздравления -->
    <job>
      <name>Поздравление с днем рождения</name>
      <group>Erm</group>
      <description>Поздравление с днем рождения</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.RequestBirthdaysCongratulationJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <cron>
        <name>Поздравление с днем рождения - в 3 часа ночи каждый день</name>
        <group>Erm</group>
        <job-name>Поздравление с днем рождения</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0 3 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- Рассылка поздравлений -->
    <job>
      <name>Экспорт объектов в шину интеграции - рассылка</name>
      <group>Erm</group>
      <description>Экспорт объектов в шину интеграции - рассылка</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.ServiceBus.ExportObjectsJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>Flows</key>
          <value>flowDeliveryData.LetterSendRequest</value>
        </entry>
        <entry>
          <key>OperationCount</key>
          <value>500</value>
        </entry>
        <entry>
          <key>EntityCount</key>
          <value>300</value>
        </entry>
      </job-data-map>

    </job>

    <trigger>
      <cron>
        <name>Экспорт поздравлений в шину интеграции - каждый день в 03:05</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции - рассылка</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 5 3 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <trigger>
      <cron>
        <name>Экспорт поздравлений в шину интеграции, ранее не прошедших валидацию - каждый день в 03:10</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции - рассылка</job-name>
        <job-group>Erm</job-group>

        <job-data-map>
          <entry>
            <key>Flows</key>
            <value>flowDeliveryData.LetterSendRequest</value>
          </entry>
          <entry>
            <key>ExportInvalidObjects</key>
            <value>true</value>
          </entry>
        </job-data-map>

        <cron-expression>0 10 3 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- ************************* -->
    <!-- Работа с ServiceBus -->
    <!-- ************************* -->

    <!-- Primary Processor -->
    <!-- Возможные значения для Flow: PrimaryReplicate2MsCRMPerformedOperationsFlow; PrimaryReplicate2ElasticSearchPerformedOperationsFlow; PrimaryProcessHotClientPerformedOperationsFlow -->
    <job>
      <name>PerformedOperationsPrimaryProcessingJob - Replicate2ElasticSearch</name>
      <group>ErmInterruptable</group>
      <description>PerformedOperationsPrimaryProcessingJob - Replicate2ElasticSearch</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.PerformedOperationsProcessing.PerformedOperationsPrimaryProcessingJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>BatchSize</key>
          <value>1500</value>
        </entry>
        <entry>
          <key>Flow</key>
          <value>PrimaryReplicate2ElasticSearchPerformedOperationsFlow</value>
        </entry>
        <entry>
          <key>TimeSafetyOffsetHours</key>
          <value>2</value>
        </entry>
      </job-data-map>

    </job>

    <trigger>
      <simple>
        <name>PrimaryReplicate2ElasticSearchPerformedOperationsFlow</name>
        <group>Erm</group>

        <job-name>PerformedOperationsPrimaryProcessingJob - Replicate2ElasticSearch</job-name>
        <job-group>ErmInterruptable</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>2000</repeat-interval>

      </simple>
    </trigger>

    <job>
      <name>PerformedOperationsPrimaryProcessingJob - Replicate2MsCRM</name>
      <group>ErmInterruptable</group>
      <description>PerformedOperationsPrimaryProcessingJob - Replicate2MsCRM</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.PerformedOperationsProcessing.PerformedOperationsPrimaryProcessingJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>BatchSize</key>
          <value>1500</value>
        </entry>
        <entry>
          <key>Flow</key>
          <value>PrimaryReplicate2MsCRMPerformedOperationsFlow</value>
        </entry>
        <entry>
          <key>TimeSafetyOffsetHours</key>
          <value>2</value>
        </entry>
      </job-data-map>

    </job>

    <trigger>
      <simple>
        <name>PrimaryReplicate2MsCRMPerformedOperationsFlow</name>
        <group>Erm</group>

        <job-name>PerformedOperationsPrimaryProcessingJob - Replicate2MsCRM</job-name>
        <job-group>ErmInterruptable</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>2000</repeat-interval>

      </simple>
    </trigger>

    <job>
      <name>PerformedOperationsPrimaryProcessingJob - ReplicateHotClient</name>
      <group>ErmInterruptable</group>
      <description>PerformedOperationsPrimaryProcessingJob - ReplicateHotClient</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.PerformedOperationsProcessing.PerformedOperationsPrimaryProcessingJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>BatchSize</key>
          <value>1500</value>
        </entry>
        <entry>
          <key>Flow</key>
          <value>PrimaryProcessHotClientPerformedOperationsFlow</value>
        </entry>
        <entry>
          <key>TimeSafetyOffsetHours</key>
          <value>2</value>
        </entry>
      </job-data-map>

    </job>

    <trigger>
      <simple>
        <name>PrimaryProcessHotClientPerformedOperationsFlow</name>
        <group>Erm</group>

        <job-name>PerformedOperationsPrimaryProcessingJob - ReplicateHotClient</job-name>
        <job-group>ErmInterruptable</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>2000</repeat-interval>

      </simple>
    </trigger>

    <!-- Final Processor -->
    <!-- Возможные значения для Flows: FinalStorageReplicate2MsCRMPerformedOperationsFlow; FinalStorageProcessHotClientPerformedOperationsFlow -->
    <job>
      <name>Репликация в MS CRM - Final</name>
      <group>Erm</group>
      <description>Репликация в MS CRM - Final</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.PerformedOperationsProcessing.PerformedOperationsFinalProcessingJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>BatchSize</key>
          <value>5000</value>
        </entry>
        <entry>
          <key>Flows</key>
          <value>FinalStorageReplicate2MsCRMPerformedOperationsFlow</value>
        </entry>
        <entry>
          <key>ReprocessingBatchSize</key>
          <value>1000</value>
        </entry>
        <entry>
          <!-- Допустимые значения Transforming;Processing;Handle  -->
          <key>IgnoreErrorsOnStages</key>
          <value>Handle</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <simple>
        <name>Репликация в MS CRM - Final</name>
        <group>Erm</group>

        <job-name>Репликация в MS CRM - Final</job-name>
        <job-group>Erm</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>2000</repeat-interval>

      </simple>
    </trigger>

    <job>
      <name>Обработка горячих клиентов - Final</name>
      <group>Erm</group>
      <description>Обработка горячих клиентов - Final</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.PerformedOperationsProcessing.PerformedOperationsFinalProcessingJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>BatchSize</key>
          <value>100</value>
        </entry>
        <entry>
          <key>Flows</key>
          <value>FinalStorageProcessHotClientPerformedOperationsFlow</value>
        </entry>
        <entry>
          <key>ReprocessingBatchSize</key>
          <value>20</value>
        </entry>
        <entry>
          <!-- Допустимые значения Transforming;Processing;Handle  -->
          <key>IgnoreErrorsOnStages</key>
          <value>Processing;Handle</value>
        </entry>
      </job-data-map>

    </job>

    <trigger>
      <cron>
        <name>Обработка горячих клиентов - Final - первоначальная - каждые 2 минуты</name>
        <group>Erm</group>
        <job-name>Обработка горячих клиентов - Final</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/2 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- Consumer из ServiceBus -->
    <job>
      <name>Performed Operations - Consumer</name>
      <group>ErmInterruptable</group>
      <description>Performed Operations - Consumer</description>
      <job-type>DoubleGis.Erm.Platform.TaskService.Jobs.Concrete.PerformedOperationsProcessing.Analysis.Consumer.PerformedOperationsConsumerJob, 2Gis.Erm.Platform.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>BatchSize</key>
          <value>1000</value>
        </entry>
      </job-data-map>
    </job>
    <trigger>
      <simple>
        <name>Performed Operations - Consumer - Infinite Execution Cycles</name>
        <group>Erm</group>

        <job-name>Performed Operations - Consumer</job-name>
        <job-group>ErmInterruptable</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>2000</repeat-interval>
      </simple>
    </trigger>


    <!-- ************************* -->
    <!-- Репликация в ElasticSearch -->
    <!-- ************************* -->
    <job>
      <name>Репликация в ElasticSearch</name>
      <group>ErmInterruptable</group>
      <description>Репликация в ElasticSearch</description>
      <job-type>DoubleGis.Erm.BLQuerying.TaskService.Jobs.ReplicateDocumentsToElasticSearchJob, 2Gis.Erm.BLQuerying.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <cron>
        <name>Репликация в ElasticSearch - каждые 5 минут</name>
        <group>Erm</group>
        <job-name>Репликация в ElasticSearch</job-name>
        <job-group>ErmInterruptable</job-group>

        <cron-expression>0 0/5 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- Постинтеграционные активности -->
    <!-- Возможные значения для Activities: SyncFirmAddresses -->
    <job>
      <name>Постинтеграционные активности</name>
      <group>Erm</group>
      <description>Постинтеграционные активности</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.PostIntegrationActivities.PostIntegrationActivitiesWithFirmsJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>Activities</key>
          <value>SyncFirmAddresses</value>
        </entry>
      </job-data-map>

    </job>

    <trigger>
      <cron>
        <name>Постинтеграционные активности - каждую минуту</name>
        <group>Erm</group>
        <job-name>Постинтеграционные активности</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- **************************************** -->
    <!-- Работа с перспективностью рекламодателей -->
    <!-- **************************************** -->

    <!-- Расчёт перспективности клиентов -->
    <job>
      <name>Расчёт перспективности клиентов</name>
      <group>Erm</group>
      <description>Расчёт перспективности клиентов</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.Olap.CalculateClientPromising, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>RunAs</key>
          <value>Integration</value>
        </entry>
      </job-data-map>

    </job>

    <trigger>
      <cron>
        <name>Расчёт перспективности клиентов - в 2 часа ночи каждый день</name>
        <group>Erm</group>
        <job-name>Расчёт перспективности клиентов</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0 2 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- Импорт перспективности фирм -->
    <job>
      <name>Импорт перспективности фирм</name>
      <group>Erm</group>
      <description>Импорт перспективности фирм</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.Olap.ImportFirmPromising, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>RunAs</key>
          <value>Integration</value>
        </entry>
      </job-data-map>

    </job>

    <trigger>
      <cron>
        <name>Импорт перспективности фирм - в полночь каждый день</name>
        <group>Erm</group>
        <job-name>Импорт перспективности фирм</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0 0 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- *********************** -->
    <!-- Работа с заявками от ЛК -->
    <!-- *********************** -->

    <!-- Автоматическая обработка заявок от ЛК на продление заказов -->
    <job>
      <name>Автоматическая обработка заявок от ЛК на продление заказов</name>
      <group>Erm</group>
      <description>Автоматическая обработка заявок от ЛК на продление заказов</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.OrderProcessingRequest.ProlongateOrdersJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <cron>
        <name>Автоматическая обработка заявок от ЛК на продление заказов - раз в 15 минут</name>
        <group>Erm</group>
        <job-name>Автоматическая обработка заявок от ЛК на продление заказов</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/15 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- *********************** -->
    <!-- Инфраструктурные активности -->
    <!-- *********************** -->

    <!-- Удаление висячих файлов -->
    <job>
      <name>Удаление висячих файлов</name>
      <group>Erm</group>
      <description>Удаление висячих файлов</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.DeleteOrphanFilesJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <cron>
        <name>Удаление висячих файлов - в час ночи каждый день</name>
        <group>Erm</group>
        <job-name>Удаление висячих файлов</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0 1 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- Чистка логов -->
    <job>
      <name>Чистка логов</name>
      <group>Erm</group>
      <description>Чистка логов</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.CleanupLogsJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <cron>
        <name>Чистка логов - в шабат</name>
        <group>Erm</group>
        <job-name>Чистка логов</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0 11 ? * SAT</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

    <!-- Синхронизация профилей пользователя и AD -->
    <job>
      <name>Синхронизация профилей пользователя и AD</name>
      <group>Erm</group>
      <description>Получаем информацию о пользователях из AD</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.ADSync.SyncUserProfiles, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <cron>
        <name>Синхронизация профилей пользователя и AD - в полночь каждый день</name>
        <group>Erm</group>
        <job-name>Синхронизация профилей пользователя и AD</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0 0 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>

  </schedule>
</job-scheduling-data>