<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">

  <!-- overwrite existing jobs -->
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

	<schedule>

    <!-- ************************* -->
    <!-- Работа с шиной интеграции -->
    <!-- ************************* -->

    <!-- Импорт объектов из шины интеграции -->
    <!-- Возможные значения для Flows: flowPhoneZones;flowRubrics;flowGeography;flowCards;flowCardsForERM;flowGeoClassifier;flowStickers;flowFinancialData1C;flowBilling;flowAdvModelsInfo -->
    <job>
      <name>Импорт объектов из шины интеграции</name>
      <group>Erm</group>
      <description>Импорт объектов из шины интеграции</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.ServiceBus.ImportObjectsJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>ErmUserImpersonateAs</key>
          <value>Integration</value>
        </entry>
        <entry>
          <key>Flows</key>
          <value>flowPhoneZones;flowRubrics;flowGeography;flowCards;flowCardsForERM;flowGeoClassifier;flowAdvModelsInfo</value>
        </entry>
        <entry>
          <key>PregeneratedIdsAmount</key>
          <value>3000</value>
        </entry>
      </job-data-map>

    </job>
    
    <trigger>
      <cron>
        <name>Импорт объектов из шины интеграции - каждую минуту</name>
        <group>Erm</group>
        <job-name>Импорт объектов из шины интеграции</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
        
      </cron>
    </trigger>

    <!-- Экспорт объектов в шину интеграции -->
    <!-- Возможные значения для Flows: flowOrders.DenialReason;flowOrders.AdvMaterial;flowOrders.Order;flowNomenclatures.NomenclatureElement;flowNomenclatures.NomenclatureElementRelation;flowPriceLists.PriceList;flowPriceLists.PriceListPosition;flowOrders.Invoice;flowOrders.Resource;flowOrders.Theme;flowOrders.ThemeBranch;flowFinancialData.LegalEntity;flowCardExtensions.CardCommercial;flowFinancialData.Client;MsCrm.HotClient -->
    <job>
      <name>Экспорт объектов в шину интеграции</name>
      <group>Erm</group>
      <description>Экспорт объектов в шину интеграции</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.ServiceBus.ExportObjectsJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>Flows</key>
          <value>flowOrders.AdvMaterial;flowOrders.Order;flowOrders.Invoice</value>
        </entry>
        <entry>
          <key>OperationCount</key>
          <value>500</value>
        </entry>
        <entry>
          <key>EntityCount</key>
          <value>300</value>
        </entry>
      </job-data-map>
      
    </job>
    
    <trigger>
      <cron>
        <name>Экспорт объектов в шину интеграции - каждые 20 секунд</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0/20 * * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>
    
    <trigger>
      <cron>
        <name>Экспорт объектов, связанных с тематиками, в шину интеграции - каждые 10 минут</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции</job-name>
        <job-group>Erm</job-group>

        <job-data-map>
          <entry>
            <key>Flows</key>
            <value>flowOrders.Resource;flowOrders.Theme;flowOrders.ThemeBranch</value>
          </entry>
          <entry>
            <key>OperationCount</key>
            <value>100</value>
          </entry>
        </job-data-map>

        <cron-expression>0 0/10 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>

      </cron>
    </trigger>
    
    <trigger>
      <cron>
        <name>Экспорт объектов в шину интеграции, ранее не прошедших валидацию - каждые 2 часа</name>
        <group>Erm</group>
        <job-name>Экспорт объектов в шину интеграции</job-name>
        <job-group>Erm</job-group>

        <job-data-map>
          <entry>
            <key>Flows</key>
            <value>flowOrders.AdvMaterial;flowOrders.Resource;flowOrders.Theme;flowOrders.ThemeBranch;flowOrders.Order;flowOrders.Invoice</value>
          </entry>
          <entry>
            <key>ExportInvalidObjects</key>
            <value>true</value>
          </entry>
        </job-data-map>

        <cron-expression>0 0 0/2 * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
        
      </cron>
    </trigger>

    <!-- Постинтеграционные активности -->
    <!-- Возможные значения для Activities: SyncFirmAddresses -->
    <job>
      <name>Постинтеграционные активности</name>
      <group>Erm</group>
      <description>Постинтеграционные активности</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.PostIntegrationActivities.PostIntegrationActivitiesWithFirmsJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>Activities</key>
          <value>SyncFirmAddresses</value>
        </entry>
      </job-data-map>
      
    </job>

    <trigger>
      <cron>
        <name>Постинтеграционные активности - каждую минуту</name>
        <group>Erm</group>
        <job-name>Постинтеграционные активности</job-name>
        <job-group>Erm</job-group>

        <cron-expression>0 0/1 * * * ?</cron-expression>
        <time-zone>N. Central Asia Standard Time</time-zone>
        
      </cron>
    </trigger>

	</schedule>
  
</job-scheduling-data>