<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">

  <!-- overwrite existing jobs -->
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>

    <!-- ************************* -->
    <!-- Работа с ServiceBus -->
    <!-- ************************* -->

    <!-- Primary Processors -->
    <!-- Возможные значения для Flow: PrimaryReplicate2MsCRMPerformedOperationsFlow; PrimaryReplicate2ElasticSearchPerformedOperationsFlow; PrimaryProcessHotClientPerformedOperationsFlow-->

    <job>
      <name>PerformedOperationsPrimaryProcessingJob - Replicate2MsCRM</name>
      <group>ErmInterruptable</group>
      <description>PerformedOperationsPrimaryProcessingJob - Replicate2MsCRM</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.PerformedOperationsProcessing.PerformedOperationsPrimaryProcessingJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>BatchSize</key>
          <value>1500</value>
        </entry>
        <entry>
          <key>Flow</key>
          <value>PrimaryReplicate2MsCRMPerformedOperationsFlow</value>
        </entry>
        <entry>
          <key>TimeSafetyOffsetHours</key>
          <value>2</value>
        </entry>
      </job-data-map>

    </job>

    <trigger>
      <simple>
        <name>PrimaryReplicate2MsCRMPerformedOperationsFlow</name>
        <group>Erm</group>

        <job-name>PerformedOperationsPrimaryProcessingJob - Replicate2MsCRM</job-name>
        <job-group>ErmInterruptable</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>2000</repeat-interval>
        
      </simple>
    </trigger>

    <!-- Final Processors -->
    <!-- Возможные значения для Flows: FinalStorageReplicate2MsCRMPerformedOperationsFlow; FinalStorageProcessHotClientPerformedOperationsFlow -->
    <job>
      <name>Репликация в MS CRM - Final</name>
      <group>Erm</group>
      <description>Репликация в MS CRM - Final</description>
      <job-type>DoubleGis.Erm.BLCore.TaskService.Jobs.PerformedOperationsProcessing.PerformedOperationsFinalProcessingJob, 2Gis.Erm.BLCore.TaskService</job-type>

      <durable>true</durable>
      <recover>false</recover>

      <job-data-map>
        <entry>
          <key>BatchSize</key>
          <value>5000</value>
        </entry>
        <entry>
          <key>Flows</key>
          <value>FinalStorageReplicate2MsCRMPerformedOperationsFlow</value>
        </entry>
        <entry>
          <key>ReprocessingBatchSize</key>
          <value>1000</value>
        </entry>
        <entry>
          <!-- Допустимые значения Transforming;Processing;Handle  -->
          <key>IgnoreErrorsOnStages</key>
          <value>Handle</value>
        </entry>
      </job-data-map>
    </job>

    <trigger>
      <simple>
        <name>Репликация в MS CRM - Final</name>
        <group>Erm</group>

        <job-name>Репликация в MS CRM - Final</job-name>
        <job-group>Erm</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>2000</repeat-interval>
        
      </simple>
    </trigger>
    
  </schedule>
</job-scheduling-data>