<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- replace application settings -->
  <appSettings>
    <add key="EnableReplication" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableCaching" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableIntegration" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IntegrationApplicationName" value="ERM201" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServer" value="http://uk-sql01/ReportServer/Pages/ReportViewer.aspx?/Test.201" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableNotifications" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BasicLanguage" value="cs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BusinessModel" value="Czech" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TargetEnvironmentName" value="Test.201" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <!-- replace connection strings -->
  <system.web>
    <!-- enable asp.net custom errors -->
    <customErrors mode="On" xdt:Transform="SetAttributes" />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="CanonicalHostNameRule" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^web-app201\.test\.erm\.czech$" negate="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
            <add input="{URL}" pattern="\.svc$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://web-app201.test.erm.czech/{R:1}" redirectType="Found" />
        </rule>
        <rule name="RedirectToHttpsRule" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="^web-app201\.test\.erm\.czech$" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
            <add input="{URL}" pattern="\.svc$" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{URL}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="https://basic-operations201.api.test.erm.czech" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <client></client>
  </system.serviceModel>
</configuration>