<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://uk-map-test01.2gis.local/GeMasterApi/Map2Gis.Service.MasterSystemApi.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint"
                contract="DoubleGis.Erm.Platform.API.GeoMaster.IMsReadApi"
                name="BasicHttpEndpoint" />
        </client>
    </system.serviceModel>
</configuration>